[2017-03-04 19:07] collinx opened #2 "Master branch is not updated"
master branch of this repo is not up to date with the current version.

[2017-03-05 14:58] pkarira opened #3 "opening of new save tab on clicking recent/first version buttons"
When recent/first version buttons are clicked after clicking on the save button then another tab opens which also does the same work as of save which means that now there are two tabs for saving in archieve .

[2017-03-07 09:45] Adi918 commented on #3
I want to work on this issue but the extension is of version 1.3.2 and the code present here is of version 1.2. Can you please update the repository.

[2017-03-07 11:35] PARAG00991 commented on #3
@Adi918 You can pull the v1.3.3 branch meanwhile for the work. It has the update code, I guess.

[2017-03-07 11:46] gureks commented on #3
You can find the relevant code here:
https://github.com/internetarchive/wayback-machine-chrome/tree/v1.3.3

On 07-Mar-2017 3:16 PM, "Aditya Jain" <notifications@github.com> wrote:

[2017-03-07 18:03] Adi918 commented on #3
Can you give some more clarity about the issue pls

[2017-03-07 18:55] pkarira commented on #3
Go to any page , click on Save Page Now button from chrome extension you will that a new tab opens up for saving . Now go back to that page and now click on Recent or First Version button , then you find that those buttons work but a new tab opens up for saving the page so now there would two tabs for saving the page . Try it yourself , you will find the error . I have resolved this issue in my pu

[2017-03-09 20:53] HimanshuAttri opened #5 "Calender to access archives of the website"
A calender can be added to the chrome extension which will be similar to the calende shown here http://web.archive.org/web/*/facebook.com

Sample UI
![screen shot 2017-03-10 at 2 12 06 am](https://cloud.githubusercontent.com/assets/12981490/23770153/f835ec74-0537-11e7-905c-a0670f9384f2.png)

On selecting a date, different timestamps of the day would showup with link to their respective archive lin

[2017-03-09 21:10] HimanshuAttri opened #6 "Social Sharing of First version"
Social Media buttons for twitter, facebook etc can be added which would facilitate the sharing of the first version of the website being visited.

@markjgraham and @rchrd2 What do you think about it? I can start working on it right away, please let me know.

[2017-03-15 13:52] rgpt opened #13 "Bootstrap's JavaScript requires jQuery"
"**Uncaught Error**: Bootstrap's JavaScript requires jQuery
    at bootstrap.min.js:6"
If you check for Errors you will notice that bootstrap.min.js needs minified jquery script

[2017-03-15 14:24] gureks commented on #13
Issue resolved with PR #14

[2017-03-21 22:52] oliveratutexas opened #19 "GSoC Rules for Contributing"
Hey there. I was thinking about expanding some of the social media features for this extension. I was wondering if there were any standards or rules that you guys have for contributing before I started.

[2017-03-25 21:47] rgpt commented on #19
I think Issues are for any problems that exist in our project so we could resolve them.
 If you have any queries i request you to kindly clear them using their mailing list **info@archive.org**
I hope it helps :)

[2017-04-02 11:45] prasadwajekar commented on #6
@markjgraham and @rchrd2 I would like to contributre to this issue

[2017-04-03 01:29] rgpt opened #39 "Provide another form of visual message instead of alert when url is not archived"
when a url is not archived and if you try to find recent capture or first capture then it puts a alert message which supposedly is not a right way to provide Notification.
for example if i try recent capture on this [doc](https://docs.google.com/document/d/1MHCUroc4pGdUTfUZ-Ro67HVg-T46Jw07aYx0T4BnfHI/edit)

i get an alert message
![4](https://cloud.githubusercontent.com/assets/11758140/24592884/e6

[2017-04-05 13:17] #2 closed

[2017-04-22 17:15] SerChirag opened #50 "Getting Tweets as Chrome Notifications"
I have been working for a while on implementing this feature.

OBJECTIVE : Get Twitter Search results as Chrome Notifications rather than opening them in a separate URL.
I believe this would over-all improve the User Experience as he/she would not loose continuity and would get relevant tweets as small notifications.

WHAT I HAVE TRIED :

1. Twitter REST API :
The problem here is that Twitter REST

[2017-06-02 10:53] rgpt commented on #13
JavaScript is being used to make the extension look faster so closing this issue

[2017-06-02 10:53] #13 closed

[2017-06-02 10:54] #39 closed

[2017-06-16 00:04] anka-213 commented on #50
I believe you have asked this in the wrong place. This is the issue-page for the Internet Archive's chrome extension, which has nothing to do with neither twitter nor push notifications.

[2017-06-22 01:37] epitron commented on #5
This would be a great addition!

From a usability perspective, I think it would be better to put the timeline chart in the pop-out window. The problem with the calendar is that it can only display one month at a time, and requires many clicks to get to a desired month. The timeline, on the other hand, shows the entire history at once, and with a single click, you can pick a date. I think the timel

[2017-08-08 13:24] hyperfekt opened #56 "Can't use WebRequest API with event pages"
When trying to download this extension from here and load it,
Chrome fails to do so and complains that the WebRequest API cannot be used with event pages, as introduced in 719517c.
Am I doing something wrong or is that change breaking?

[2018-01-04 15:06] diegodlh opened #61 "Quickly show if page previously saved"
The extension is awesome. Sometimes I use it to make sure I will be able to access the webpage I'm looking at in the future in case the owner decides to take it down. Some pages don't change frequently, so knowing that there is at least one version saved of it should be enough. To avoid overloading Internet Archive's servers with page snapshots, it might be useful to quickly inform the user, on th

[2018-01-04 15:19] markjohngraham commented on #61
I agree with you.  That feature is "on our list" :-)

[2018-01-04 20:52] diegodlh commented on #61
Oh, I see now there are some pull requests implementing similar stuff. Sorry I didn't check before posting the issue! Thanks for your reply

[2018-01-13 13:00] redranamber opened #63 "Release for Opera"
The extension already works in Opera but it would be nice if you uploaded an official release to the addons.opera.com site.

[2018-01-13 17:24] markjohngraham commented on #63
Great Suggestion.  We will do that!   Thank you very much.

[2018-02-15 06:06] rajvaibhavdubey opened #68 "A feature to access a site of different regions"
There Should be a feature added to access the different regional versions and it's Archives of the same website.

[2018-02-15 06:16] rajvaibhavdubey opened #69 "Option To open in Incognito in First/Recent Version Buttons"
I want to add a feature of opening the new window in Incognito when opening in First/Recent Versions. Because Sometimes the Earlier Version Of a site may contain some stuff which one does not want to be stored in the History or tracked down by add trackers.

[2018-02-15 06:41] rajvaibhavdubey opened #70 "Displaying of Stats on the Extension"
The Stats of a website can be displayed on the extension such as how many times the website has been archived, The first archive date, The recent Archive date etc.

[2018-02-15 11:01] soumam007 opened #71 "Add different theme modes of the popup html (here index.html)"
We can have night mode and normal modes to change the view

[2018-02-15 11:02] soumam007 opened #72 "Implementing voice search of the websites"

[2018-02-15 14:15] bhavyaagg opened #73 "Code in background.js is not properly indented and formatted"
Hi I am Bhavya Aggarwal, currently in my Junior Year. I am Full Stack Web Developer in Node.js and currently also learning Android Development.

@vbanos , @SerChirag I would love to work on this extension.

[2018-02-15 14:47] bhavyaagg opened #75 "Code in index.html is not properly indented and formatted"

[2018-02-15 14:54] bhavyaagg opened #77 "Modularize css code present in index.html"
Creating an another file for the css would be better (Separation of Concerns)
This would modularize the code.

[2018-02-15 15:02] bhavyaagg opened #79 "What is the use of index.html/#L111"
What is the use of div present here:
https://github.com/internetarchive/wayback-machine-chrome/blob/master/index.html#L111

[2018-02-15 15:10] bhavyaagg opened #80 "Update Bootstrap 3 to Bootstrap 4"
Bootstrap 4 has been released in stable mode. So we can update this extension to use bootstrap 4 rather than bootstrap 3.

I would love to do this.

[2018-02-15 20:16] plant99 opened #81 "Create timeline"
### Create pseudo time-line of different versions of current website

Now the extension only shows the most recent and the first versions of the website. We can expand it to show 5-10 different versions sorted with time.
This requires multiple pings to the availability API with an array of timestamps but can be achieved.

I will be happy to work on this.
@vbanos

[2018-02-16 07:33] rajvaibhavdubey opened #82 "Advanced feature #2 (radial tree) is buggy"
Advanced feature #2 (radial tree) is buggy. On certain pages (example https://www.whitehouse.gov/) the modal on which the radial tree is displayed loses defined CSS properties. Its almost as if the CSS of the web page 'leaks' into the modal.
I'd like to work on this.

[2018-02-16 07:34] rajvaibhavdubey opened #83 "Firefox radial tree bug"
On the Firefox version, the radial tree feature does not work with URLs selected from the extension's search bar.
I'd like to work on it.

[2018-02-16 07:34] rajvaibhavdubey opened #84 "Edge buttons not working"
On the Edge version, the auto-save feature does not work. Also the 'About' button does not work.

[2018-02-21 08:45] grishaster80 commented on #72
I'd like to work on it:)

[2018-02-21 18:27] luckykumardev opened #86 "feedback form"
I think this extension should have a feedback form. which will definitely help us to improve this extension according to user's needs.

I want to work on this issue.

[2018-02-23 17:18] akshatbhargava123 commented on #72
@grishaster80 any updates? Can I work on this?

[2018-02-23 17:57] akshatbhargava123 commented on #71
#87 Added Switch theme support. Please accept the PR :)

[2018-03-01 08:05] strongSoda commented on #80
I would love to collaborate too.

[2018-03-01 11:40] vishalraghav94 commented on #71
Take a look at this too.. #89

[2018-03-04 16:04] baniksudipto commented on #77
Hello, I would like to Modularize the css present in the index.html file . Is issue still open ?

[2018-03-05 11:34] Geekcoder555 opened #91 "An “img” element must have an “alt” attribute"
Description:
An “img” element must have an “alt” attribute, except under certain conditions. For details, consult guidance on providing text alternatives for images.
From line 16, column 21 to line 17, column 46
Code Extract:
<img class='resize_fit_center' src='images/logo.gif' />

[2018-03-05 11:35] Geekcoder555 opened #92 "No space between attributes"
No space between attributes.
At line 24, column 251
Code Extract:
="search_inputtype="text" pl

file to be updated:   index.html

[2018-03-05 11:37] Geekcoder555 opened #93 "Bad value encoding for attribute http-equiv on element meta."
Description:
Error: Bad value encoding for attribute http-equiv on element meta.

From line 5, column 1; to line 5, column 44

nt-Type"><meta content="utf-8" http-equiv="encoding">

[2018-03-05 11:42] Geekcoder555 opened #94 "adding lang="en" (or variant) to the html start tag"
Description:
This document appears to be written in English. Consider adding lang="en" (or variant) to the html start tag.

[2018-03-05 11:43] Geekcoder555 opened #95 "Unclosed element all_urls"
Error: Unclosed element all_urls.

From line 341, column 17; to line 341, column 26

 {urls: ["<all_urls>"], ty

file: background.js

[2018-03-05 11:44] Geekcoder555 opened #96 "Misplaced non-space characters inside a table"
Error: Misplaced non-space characters inside a table.

From line 4710, column 22; to line 4710, column 33

, "<table>", "</table>" ],

file: jquery.js

[2018-03-05 11:49] Geekcoder555 opened #97 "Named character reference was not terminated by a semicolon"
Error: Named character reference was not terminated by a semicolon. (Or & should have been escaped as &amp;.)

At line 30, column 25

nerHTML='&times';

file to be updated: RTcontent.js

[2018-03-05 11:52] Geekcoder555 opened #98 "Unclosed element"
Error: Unclosed element t.length;a++)t[a][1].match(.

From line 1, column 994; to line 1, column 1506

=1;a<t.length;a++)t[a][1].match(/jpg|pdf|png|form|gif/)||(t[a][1]=t[a][1].trim().replace(":80/","/"),t[a][0]in…).join("/")),n=n.split("/").join("/"),i[e][t]=n}return i}(),l=o.map(function(e){if(e.length>1)return e[0]}

file to be updated:  radial-tree.umd.js

[2018-03-08 15:54] Geekcoder555 opened #102 "The align attribute on the tr element is obsolete"
Description:

The align attribute on the tr element is obsolete. Use CSS instead.
From line 31, column 12; to line 33, column 44
From line 38, column 12; to line 39, column 44
From line 44, column 12; to line 45, column 44
From line 58, column 4; to line 61, column 44
From line 65, column 12; to line 66, column 50
From line 73, column 14; to line 74, column 53
From line 76, column 18; to line 77,

[2018-03-08 16:03] Geekcoder555 opened #103 "Value Error : font-style bold is not a font-style value"
Description:

Value Error : font-style bold is not a font-style value
file : sequences.css

Acceptance criteria:
Above file should be updated accordingly.

Time:
5-10 min

[2018-03-08 16:09] Geekcoder555 opened #104 "Validation issues in Javascript file sequences.js"
Description:
Validation issues in Javascript file sequences.js.
Line Col
15 |   23 | Use '!==' to compare with ''
36 |  10 | Missing semicolon.
24 |  13 | 'base_url' is defined but never used.
14 |  64 | 'sendResponse' is defined but never used.
14 |  56 | 'sender' is defined but never used.
8 |    17 | 'chrome' is not defined.
13 |   1 | 'chrome' is not defined.
14 |   1 | 'chrome' is not defined

[2018-03-08 16:18] Geekcoder555 opened #105 "Error in Javascript file- radial-tree.umdjs"
Description:

Error in Javascript file.
The following errors are obtained in the JavaScript File.
Line | Col | Errors  radial-tree.umd.js
-- | -- | --
1 | 24 | Missing semicolon.
1 | 24 | Expected an identifier and instead saw '=='.
1 | 26 | Expected an operator and instead saw 'typeof'.
1 | 26 | Expected an assignment or function call and instead saw an expression.
1 | 32 | Missing semicolon.
1 |

[2018-03-08 16:20] Geekcoder555 opened #106 "Errors in JavaScript File jquery.js."
Description:

Errors in JavaScript File jquery.js.

Following errors are obtained in file jquery.js

Line | Col | Errors jquery.js
-- | -- | --
133 | 18 | Use '===' to compare with 'null'.
225 | 43 | Use '!==' to compare with 'null'.
283 | 20 | Use '!==' to compare with 'null'.
334 | 18 | Use '===' to compare with 'null'.
379 | 21 | Use '===' to compare with 'null'.
388 | 18 | Use '!==' to compare

[2018-03-08 16:21] Geekcoder555 opened #107 "Errors in file d3.js"
Description:
The following errors are obtained in file d3.js

Line | Col | Errors  d3.js
-- | -- | --
2 | 24 | Missing semicolon.
2 | 24 | Expected an identifier and instead saw '=='.
2 | 26 | Expected an operator and instead saw 'typeof'.
2 | 26 | Expected an assignment or function call and instead saw an expression.
2 | 32 | Missing semicolon.
2 | 155 | Expected an assignment or function call an

[2018-03-08 16:23] Geekcoder555 opened #108 "Errors in file bootstrap.js"
Description:

The following errors are found in File bootstrap.js

Line | Col | Errors   bootstrap.js
-- | -- | --
6 | 317 | Missing semicolon.
6 | 615 | Missing semicolon.
6 | 715 | Missing semicolon.
6 | 775 | Expected an assignment or function call and instead saw an expression.
6 | 776 | Missing semicolon.
6 | 805 | Missing semicolon.
6 | 1064 | Missing semicolon.
6 | 1066 | Expected an assign

[2018-03-10 05:43] VishnuRaghavan commented on #80
Great, we can do it!

[2018-03-11 08:28] divyabaid16 commented on #108
@AnkitKhatri55555 , can you please elaborate what changes need to be done when you are saying- "Expected an assignment or function call and instead saw an expression."

[2018-03-13 10:49] akshat14714 commented on #104
@AnkitKhatri55555 I would like to work on this issue. Can you please help me do that

[2018-03-20 03:35] rohitcoder commented on #108
@AnkitKhatri55555  Are you sure? :confused: because bootstrap.min.js is official bootstrap library provided by "Bootstrap open source" Program and lot of companies and developers are using this same js script so there is no change of such type of problems or errors. Problem is in another file may be in any custom js file written by Wayback machine, not in bootstrap.min.js
No chance

Simply copy &

[2018-03-23 18:32] A7xSV opened #125 "Incorrect extraction of URL"
Using the extension on a link such as this - [https://twitter.com/search?q=github.com/internetarchive/wayback-machine-chrome](https://twitter.com/search?q=github.com/internetarchive/wayback-machine-chrome) opens up the correct page by clicking Whois on the extension but Alexa extracts the wrong URL (github.com instead of twitter.com).

I would like to work on fixing this and other issues, along wi

[2018-05-08 17:36] anishsarangi commented on #80
Yes, We can do this. But instead of using Bootstrap, it will be good if we can use our own css .

[2018-05-11 18:26] anishsarangi commented on #75
Thank YOU for figuring this out. We have kept this issue on our "to-do-list".

[2018-05-11 18:28] anishsarangi commented on #73
Thank YOU @bhavyaagg for figuring this out. We have kept this issue on our "to-do-list".

[2018-06-10 08:28] #97 closed

[2018-06-10 08:43] vbanos commented on #92
Implemented in https://github.com/internetarchive/wayback-machine-chrome/pull/130

[2018-06-10 08:43] #92 closed

[2018-06-10 08:44] #107 closed

[2018-06-10 08:59] vbanos commented on #82
Thank you for your comment, the Radial Tree has been improved significantly. The issue has been fixed.

[2018-06-10 08:59] #82 closed

[2018-06-29 11:07] anishsarangi commented on #125
Thank you for pointing out this issue. We have fixed this recently. Thank you!!

[2018-08-26 15:09] aborruso opened #141 "ERR_CONNECTION_CLOSED"
Hi,
when I use this great extension  I have always Chrome error ERR_CONNECTION_CLOSED.

Moreovere https://web.archive.org/ is not reachable.

Thank you

[2018-08-27 14:56] aborruso commented on #141
I have deleted cookies and now it's ok

[2018-08-27 14:56] #141 closed

[2018-10-30 18:51] abhieshekumar opened #219 "ESLint - issues (readability)"
While going through the code in VSCode certain error's (not breaking the code) popped up.

`[eslint] Missing space before opening brace.`
`[eslint] Strings must use singlequote.`
`[eslint] Missing space before function parentheses.`
`[eslint] Extra semicolon.`
`[eslint] Missing space before =>.`
`[eslint] Missing space after =>.`
`[eslint] Expected space(s) after "for".`
`[eslint] Infix operators

[2018-10-30 18:52] abhieshekumar commented on #219
If this sounds like a reasonable issue I will like to work on this, making the code consistent.

[2018-11-02 18:03] pg07codes opened #232 "readme update"
i think it would be better to include the [link to the extension](https://chrome.google.com/webstore/detail/wayback-machine/fpnmgdkabkmnadcjpehmlllkndpkmiak) in the readme file as multiple extensions by the same name(little changed) exists on the chrome store.

[2018-11-02 20:08] vbanos commented on #232
OK, please make a PR to add the link. Nice idea.

[2018-11-03 11:32] pg07codes opened #235 "readme typo"
![image](https://user-images.githubusercontent.com/34238240/47951686-25f38f80-df8a-11e8-8c6c-5f845a8df408.png)
- `npm install ` is to be done

[2018-11-03 13:55] #232 closed

[2018-11-03 13:55] #235 closed

[2018-12-02 06:06] himanshuc3 opened #255 "Coverting to React"
As you already guessed, this is more of a preference than an issue. But I did not know where else to discuss, So maybe this thread could be a solution. I could 1st of all understand the codebase and start implementing if needed.

Also, this gives us an opportunity to reinvent design and make it cleaner.

[2018-12-11 10:05] bamoha commented on #106
Hello, I am yet to understand this issue, do you mean that one should go into the official Jquery source code and make these changes?

[2018-12-11 10:07] bamoha commented on #80
Hello, has this been completed? Why is this issue not closed yet?

[2018-12-13 06:32] GaurangTandon commented on #3
Hi, it seems this issue has been fixed. Can it be closed? Clicking on Save page now redirects to `web.archive.org/save/*`, while clicking on recent version redirects to `web.archive.org/web/2/*`, both as intended. Clicking recent version no longer saves the page.

[2018-12-13 06:34] GaurangTandon commented on #6
This seems to be fixed too. Now the popup has four social sharing buttons for Twitter, FB, G+, LinkedIn.

[2019-01-08 02:53] GaurangTandon opened #274 "What are the issues to which contributors can contribute?"
Hi,

I notice that [commits](https://github.com/internetarchive/wayback-machine-chrome/commits/master) are being made almost on a daily frequency to this repo. That means a lot of stuff has been done and has to be done. I feel I could have helped in several of these tasks, like, refactoring the JS files, adding donation buttons, etc.

The [issues](https://github.com/internetarchive/wayback-machine

[2019-01-08 10:36] anishsarangi commented on #274
You can start with refactoring the JS files.
Thank you.

[2019-01-08 12:49] GaurangTandon commented on #274
Hi @anishsarangi , thanks for your reply.

I have a question: Do you use a style guide, like `.editorconfig`, or `.prettierrc`? There are chances that our tab style/quote style/function style/etc. might not match, and I would be glad to have consistency throughout the repo. If you want should I create a basic `.prettierrc`/`.editorconfig` file? Once that is done, and once the maintainers confirm i

[2019-02-01 17:22] itdaniher opened #279 "fails on URL with Unicode byte-order-mark (BOM)"
First and foremost - thanks a ton! Y'all are amazing and the work you do truly makes the world a better place.

Reporting an issue with URLs containing (hidden) unicode characters, ie
IE `https://www.courthousenews.com/%EF%BB%BFopponents-of-drag-queen-story-hour-tossed-from-court/`

It looks like it bizarrely percent-encodes a second time, making the BOM represented as %25EF%25BB%25BF.

I've repro

[2019-02-05 23:15] dietercastel opened #280 "Multi-lingual archival feature request"
In Belgium we have 3 official languages (French, German and Dutch). Often Belgian websites have divergent content for these languages and to make sure archival is done in full I think it would be useful if the extension supported this.

Of course this applies to a much broader audience than Belgians only. With a quick search I found [this list of countries with more official languages.](https://ww

[2019-02-15 21:47] Manu1400 opened #283 "Exclude website(s) feature"
Hi,

I want to can excluded website(s) on my instance.

[2019-02-26 07:30] shivam8287 commented on #96
hey, can i work on this issue?

[2019-03-01 18:11] mkfeuhrer commented on #283
Can you specify a bit clearly with the feature you want. Thanks

[2019-03-01 18:13] mkfeuhrer commented on #274
@anishsarangi @vbanos could you provide with some future features or issues on which contributions can be made. Can't find any relevant issues. If there is could you point me to one. Thanks.

[2019-03-02 18:10] Manu1400 commented on #283
On some website implements a redirect function who redirect 404 on homepage.

I want to can disabled the Wayback Machine extension on Chrome on a website.

Like an Adblocker, we can have a personal "blacklist" to exclude a website with a button "I want to exclude this website".

[2019-03-04 12:38] VishvaWang commented on #283
hi  !,do you want to disable this extension in some website?what is the  redirect function who redirect 404 on homepage.

[2019-03-04 14:38] JohnTitor42 commented on #283
Can you tell, what you expect to be shown instead of the site?

[2019-03-08 15:04] Davide95 opened #290 "GSOC2019 - Continue development of wmc"
Hi, I'm writing here because I sent an email to iagsoc2019@gmail.com 2 weeks ago and it seems that nobody will read it, so I'll post it here.

This year I would like to apply for GSOC and I saw an interesting project in your ideas list (Continue development of the Chrome extension “Wayback Machine).

My name is Davide, I’m an MSc student of Computer Science and I’ve a BSc in Computer Science.
If y

[2019-03-09 14:07] Manu1400 commented on #283
https://fr.wikiversity.org/wiki/Sp%C3%A9cial:Suivi_des_liens?hidebots=1&hidecategorization=1&hideWikibase=1&target=SPARQL_Protocol_and_RDF_Query_Language%2FRequ%C3%AAtes_de_lecture&limit=50&days=7&urlversion=2 return HTTP 404. The wayback machin popin is opened but it this case it's not a real error 404 webpage.

[2019-03-17 13:49] hereisdx commented on #290
Hi!
My name is Divyanshu Agrawal, and I, too, wish to work on this project for GSoC 2019. I am an undergraduate student in Computer Science at BITS-Pilani, Hyderabad Campus, India.

It would be great if I could communicate with the members of The Internet Archive development team to get some additional information about this project, as the Google Doc for the Ideas does not contain any information

[2019-03-18 05:15] iamzubin commented on #290
I don't think mentors are right now active for this organization.

[2019-03-22 13:58] cheevu-RS opened #293 "failing tests on booklist.spec.js"
[code]

[2019-03-27 16:40] daveloyall commented on #274
The two most recent committers are @MaxReinisch and @vbanos.  Hello!

A user on IRC asked:

I replied:

The user replied:

Maybe it is time for some kind of contributors' guide document?  Or for a review of tickets?  Or to grant some additional person permission to merge PRs or close issues?

Keep up the good work.  Cheers!

[2019-03-27 19:05] radicalswetank commented on #274
I agree with @GaurangTandon @mkfeuhrer @daveloyall
@MaxReinisch @vbanos  @anishsarangi Please Reply

[2019-03-27 19:49] radicalswetank commented on #274
@daveloyall Can you give me the IRC link?

[2019-03-27 20:58] MaxReinisch commented on #293
I have noticed this as well.  This test was written before the api changed, so it can be reworked.  I'm not even sure if booklist needs tests, as most of the logic comes from wikipedia.js.  Perhaps this file should be removed and all relevant tests should live in wikipedia.spec.js

[2019-03-27 21:12] anishsarangi opened #299 "GSoC-2019 (Things required to focus on)"
Hello Everyone. This is for those who are trying to apply for GSOC-2019 in this project.
Please use the extension extensively, try to break it and find bugs. Also please suggest (features) how we can make this extension better together.
Please also try to make a relevant PR regarding the bugs you found or the features you suggest to add.
All the best !!

[2019-03-27 21:17] anishsarangi commented on #274
I have addressed in #299 .
Thank you.

[2019-03-28 10:50] sankalpdayal5 commented on #98
Where is the file 'radial-tree.umd.js'?
Can you please specify the path for the given file

[2019-03-28 20:51] cheevu-RS opened #302 "New feature: Dark mode"
I was thinking that it would be cool to add a dark themed mode throughout the extension using css's invert filter on styles.css. It can be added as an option in the settings.
I can put a PR for this if the mentors are fine with this addition.

[2019-03-28 21:34] MaxReinisch commented on #302
Adding a dark mode is a cool idea, but using the invert filter might not be the best way to do it.  Check out the archive.org homepage and maybe try to copy the color scheme of that.  Also maybe this feature would best live in css/common.css

[2019-03-29 04:02] cheevu-RS commented on #302
Sure, will do that. Thanks!

[2019-03-29 04:31] radicalswetank opened #304 "New feature: Donation button"
I think the addition of a Donation button which will open [Donate to the Internet Archive!](https://archive.org/donate/) in a new tab can be a great idea!
@mentors if you guys agree can I put a PR?

[2019-03-29 04:36] akkywadhwa opened #305 "New Feature: Fetch list of archives"
Hello everyone!
Through this, I would like to propose an option in extension through which the user can view all the dates on which the given webpage was archived.

[2019-03-29 04:42] MaxReinisch commented on #305
This feature already exists.

On Thu, Mar 28, 2019 at 9:36 PM Hritik Wadhwa <notifications@github.com>
wrote:

[2019-03-29 09:09] cheevu-RS commented on #302
@MaxReinisch You want me to add the color scheme of archive.org as the dark theme?

[2019-03-29 10:06] akkywadhwa opened #306 "Convert XMLHttpRequest to AJAX"
I think converting XMLHttpRequest to AJAX will be a significant change and would cut down the lines of code. Should I make a PR for it?

[2019-03-29 10:08] akkywadhwa opened #307 "Converting to ES6"
I think we can use ES6 arrow functions in various javascript files. Should I make a PR for it?

[2019-03-29 10:35] thisisayush commented on #108
@Geekcoder555 This doesn't seem to be an issue on my end. Are you sure?
Please verify and see if this issue can be closed?

[2019-03-29 10:38] thisisayush commented on #106
@Geekcoder555 `jquery.js` is an official library, this issue should be created at https://github.com/jquery/jquery not here.

[2019-03-29 10:45] thisisayush commented on #306
The project is already using jQuery, I guess it would be logical to convert Javascript's XMLHttpRequest to a more stable jQuery Ajax Implementation.

[2019-03-29 12:09] thisisayush opened #309 "UI Update"
The UI of popup box seems quite old, I'm suggesting some changes (PR for the same is on the way):
- Outline Buttons: These buttons fill up the background on hover/focus)
- Borderless Searchbar: This only includes a search bar with bottom border which gets dark on focus
- Custom Webkit Scrollbar: A thin scrollbar with rounded corner to maximise available popup space.

Preview:
![image](https://user

[2019-03-29 17:21] MaxReinisch commented on #306
The only issue with that is if it is running in background.js, as jquery is
outside the scope of that for some reason. You can either go into the
manifest and add build.js (I think, I am away from my computer so this
should be double checked), or you can use the js fetch api, which gets used
in several spots inside the background script. I am currently going theough
all the Requests and documentin

[2019-03-30 09:22] cheevu-RS commented on #302
@MaxReinisch The archive.org webiste only has a grey white theme.
![image](https://user-images.githubusercontent.com/33937406/55274162-5e11bb00-52fb-11e9-8946-702af7077d5c.png)
What i am suggesting is more like..
![image](https://user-images.githubusercontent.com/33937406/55274158-420e1980-52fb-11e9-8ec4-d29a9393775c.png)
 It is a bit crude, but i can fix that.

[2019-03-31 13:48] sankalpdayal5 commented on #103
Please close the issue as this has already been solved

[2019-03-31 20:42] radicalswetank commented on #304
@vbanos Something like this!
![support_us](https://user-images.githubusercontent.com/26973191/55294773-9ad8d180-5423-11e9-978b-75e36e273edf.png)

[2019-04-01 00:14] anishsarangi commented on #309
Good work @thisisayush . Can you suggest some more designs where we would not be using any scrollbar? (But it should also include all the features)

[2019-04-01 00:15] anishsarangi commented on #307
YES. Please !!
Thank you.

[2019-04-01 05:48] Zerichen opened #312 "Question regarding the search box"
Hi everyone,
I found that the search box in the chrome extension didn't work on my computer and I am wondering if it is designed to allow the user to perform a search action. I have checked the source code and there was neither action nor method attribute in the form tag so I am assuming this is not being considered a feature at present.
If you want me to add this feature, I can make a PR for it.

[2019-04-01 20:11] MaxReinisch commented on #312
Currently the search bar is used basically as an alternative omnibox/address bar.  Features check if the user entered anything in the search bar, and the feature will use whatever is in the text box as the url instead of what is in the address bar.

This is a feature that we have been investigating to see if it is used much.  It is not super useful, intuitive, or important.  But if you want to pla

[2019-04-01 20:25] Zerichen commented on #312
Thanks for the explanation! At present, I think we could make the functionality the same as the search box in the Wayback Machine homepage. So the user can either type a keyword or a valid URL and then we can present the search result in a new tab. Having said that, I will continue exploring the new possibilities for this functionality as well.

I am also thinking about adding a hyperlink to the I

[2019-04-02 01:53] MaxReinisch opened #314 "amazon books currently makes the same request twice"
Amazon books functions similarly to how auto-save used to function.  In background.js, every time a page gets updated, it checks if the page is amazon, and that the amazon setting is enabled.  Then it requests the https://archive.org/services/context/amazonbooks api and if a result is returned, it changes the extension badge.  Then in the popup script, it checks that the badge is changed, then mak

[2019-04-02 03:06] thisisayush commented on #309
Thanks @anishsarangi
Yes, we can go for responsive designing, since chrome extensions do not support media queries, we have to do it the JavaScript way. We can adjust the width of the popup for a 2 column layout and more, in case the width is small, we can increase the height, and as a fallback when both are not feasible, scrollbar comes to the rescue.

Also the social icons can be moved to top ri

[2019-04-02 03:51] #305 closed

[2019-04-02 03:52] MaxReinisch commented on #304
I suggest putting the donation button between the feedback and the info button in the bottom tray.

[2019-04-02 04:05] MaxReinisch opened #315 "Moving wikipedia books api request out of content script"
In wikipedia.js, the function getWikipediaBooks makes an ajax request to the context api.  According to https://developer.chrome.com/apps/xhr, this should not be done in a content script, and the request should be moved to background.js and use message listeners.  A similar problem was fixed in citations.js, which can be used as reference.

[2019-04-02 04:15] MaxReinisch opened #316 "Wikipedia papers isn't working right"
On the page: https://en.wikipedia.org/wiki/Nan_Madol, using the "Find cited papers" feature has a UI bug.  I am also wondering if this should make the API call in background.js like how wikipedia.js should be  #315

[2019-04-02 05:50] radicalswetank commented on #315
@MaxReinisch Can I work on this one?

[2019-04-02 05:51] radicalswetank commented on #314
@MaxReinisch Can I put a PR on this?

[2019-04-02 05:54] MaxReinisch commented on #315
@radicalswetank Go for it.

[2019-04-02 05:56] MaxReinisch commented on #314
@radicalswetank Go for it.  I won't be able to look at it until morning (pct).

[2019-04-02 12:49] cheevu-RS commented on #316
@MaxReinisch can i work on this? I will work on the bug part and not move the api call to background.js as someone else is working on it.

[2019-04-02 13:21] Zerichen commented on #314
Can I work on these bugs as well? @MaxReinisch

[2019-04-02 21:53] MaxReinisch commented on #316
@cheevu-RS Go for it.  In this case, the API call shouldn't need to be moved, and if we decide to move it, it should be done after the UI fix anyways.  The issue someone else is working on is a different API endpoint for books instead of papers.

[2019-04-02 23:22] Zerichen commented on #314
Hi @MaxReinisch , I am currently working on this issue and I think we could store the url after the first fetch and using ```chrome.storage.sync.set({ 'details_url': resp['metadata']['identifier-access'] }, function () { console.log('url is set to:', resp['metadata']['identifier-access'])}) ``` and retrive it in the borrow_books function by calling ``` chrome.storage.sync.get(['details_url'], func

[2019-04-03 11:49] #293 closed

[2019-04-04 06:49] radicalswetank commented on #315
@MaxReinisch Zerichen has already put a PR on this. I guess this should be closed now.

[2019-04-04 06:49] radicalswetank commented on #314
@MaxReinisch Zerichen  has already put a PR on this. I guess this should be closed now.

[2019-04-04 07:26] MaxReinisch commented on #314
@radicalswetank Not so, the PR introduced a bug and has been reverted. The issue is still live

[2019-04-04 07:28] #316 closed

[2019-04-04 07:37] #315 closed

[2019-04-05 06:19] Ritvyk opened #332 "Arrow Keys are not working in autosuggestion List"
Arrow keys become unresponsive in the dropped down auto suggestion list and list get vanished when try to use a arrow key.

[2019-04-05 06:21] Ritvyk commented on #309
@thisisayush Hey buddy i have added a instagram button on the UI hope you will like it.
Can we work together on this project to enhance it more.

[2019-04-05 17:53] thisisayush commented on #309
I also love the UI made by @sr6033 in #333

[2019-04-05 17:59] sr6033 commented on #332
I think it is a bootstrap issue.

[2019-04-05 18:03] thisisayush opened #334 "[GSoC] Discussions"
I sent a mail to mentioned email a few days back, doesn't seem to get a reply, and since there is no official forum/chat available for the project, I guess using this issue seems to be a good place where everyone can share and discuss their doubts with mentors and other participants.

[2019-04-05 18:05] thisisayush commented on #334
## [GSoC] Idea # 1 Creating/Improving UI of the chrome extension of Wayback Machine

Hi Mentor(s),
Myself Ayush Agarwal, B.Tech (CSE) 3rd Year, Amity University, Noida. I'm a full stack web developer jQuery/React/Bootstrap (Frontend), Django/Flask (Backend) and Dev-Ops (AWS/Ansible/Shell Scripting) and have been working on the web for more than 2 years now.

I'm thinking to create a new UI of the

[2019-04-06 05:21] sr6033 commented on #312
@Zerichen this seems pretty useful to me as well

[2019-04-06 05:23] sr6033 commented on #283
is this feature required? @MaxReinisch

[2019-04-06 05:58] Zerichen commented on #312
@sr6033 Glad to hear that! You can add this to your new Ui as well. For me I am just going to stick with the current interface. We can also explore the search box functionality together if you want.

[2019-04-06 06:05] sr6033 commented on #312
@Zerichen my new UI is an experiment and I have kept it in a different branch for the maintainers to comment on it. It would be great to explore the search box functionality from now.

[2019-04-06 06:17] Zerichen commented on #312
@sr6033 Cool

[2019-04-06 06:25] Ritvyk commented on #334
@thisisayush  same here buddy, no reply from the Mentors or from that mail that is mentioned in the GSOC-19 Guide.

[2019-04-06 06:30] Ritvyk commented on #332
@sr6033 i Think it so.

[2019-04-06 13:11] sr6033 commented on #61
This is feature is already implemented and the issue should be closed. If a page is not saved, an 's' appears in the extension to let the user know.
#328

[2019-04-07 12:37] sr6033 opened #336 "Tag-cloud throws error in single page view"
The tag-cloud is not showing in single page view of the context and is throwing the below error.
![image](https://user-images.githubusercontent.com/15799589/55683669-d9a8e300-595f-11e9-862a-e1d8a8fc4aa5.png)

[2019-04-08 21:05] thisisayush opened #338 "Maintaining CodeBase Consistency"
Currently in most of the Javascript files the identifiers (function names, variables, etc) don't follow a standard naming convention, some follow the underscore separated names i.e. `borrow_books` while some follow the CamelCase pattern e.g. makeModal`

Another issue to address in this is Inconsistent Indentation across files. Some files use 4 space Indentation while some are using 2 space Indenta

[2019-04-09 01:52] sr6033 commented on #338
**ESLint** is already being used in the project. Only a proper guideline is to be mentioned for developers contributing to the project.

[2019-04-09 09:25] thisisayush opened #339 "Add Support to check if any Contexts are selected before sending 'showall' message"
The `showall` message is sent even when there are no contexts selected or initialized. This results in poor UX as first-time users may wait thinking something will happen.
What we can do is add a check before sending the message and showing a message to user if no contexts are selected.

[2019-04-09 09:27] sr6033 commented on #339
I have included that in my new UI already.

[2019-04-09 10:33] sr6033 commented on #339
This is a nice addition to the UX for new users. I was adding that in the experimental UI as well. Good work @thisisayush

You can also integrate this into your new UI, I think.

[2019-04-09 10:41] sr6033 commented on #314
I think @Zerichen fixed the issue now.

[2019-04-09 10:43] sr6033 commented on #304
@cheevu-RS has done a PR regarding this issue #327

[2019-04-09 10:46] sr6033 commented on #302
Dark mode is really cool and keeping it in sync with the Internet Archive's theme is a nice idea. Nice work @cheevu-RS
I will suggest you edit the logo as per the theme and also to choose such a colour that the texts are more clear.

[2019-04-09 16:11] sr6033 opened #342 "Occasional error in social sharing icons"
![image](https://user-images.githubusercontent.com/15799589/55816539-13205080-5b10-11e9-90bb-b77736d01c4d.png)

[2019-04-09 19:28] MaxReinisch commented on #339
@thisisayush is right, @sr6033.  It is better to make these changes separately from the UI changes.  I understand that this change does fall under the category of UX, it is still more of a bug fix than a design change.

[2019-04-09 19:43] #304 closed

[2019-04-09 20:29] Zerichen opened #346 "Twitter search in show me context can be improved"
In show me context, we are trying to help the user to search the URL of the current tab on Twitter. However, I find this feature more useful if we could first extract the keyword from the URL and then perform a search. For example, if I am on Apple's homepage, instead of searching 'www.apple.com', we could search 'Apple' which obviously have much better search results.

[2019-04-09 21:50] MaxReinisch commented on #346
I have thought the same thing, however I believe the intention of context features is to gain information about specific urls.  Originally, we were looking for an annotation system for urls.  We wanted to see what people thought about specific links.  Then we realized twitter could be used that way.  That is why this feature behaves this way.

[2019-04-09 22:10] Zerichen commented on #346
Sure, I can fully understand its original intention.

[2019-04-09 22:10] #346 closed

[2019-04-09 22:12] #314 closed

[2019-04-09 22:13] #312 closed

[2019-04-09 22:15] #336 closed

[2019-04-10 06:00] sr6033 commented on #339
Yup. Also, what @MaxReinisch suggested in the PR can be looked into after some thoughts.

[2019-04-10 06:37] cheevu-RS commented on #302
Sure, thanks @sr6033!

[2019-04-13 19:48] tanweer919 commented on #338
Callback definition is also inconsistent. In some places es6 arrow functions are used while in othe places, traditional javascript functions are used.

[2019-04-13 22:25] tanweer919 commented on #332
Fixed the issue and created a PR #337

[2019-04-14 06:37] sr6033 commented on #338
Transferring the codebase to ES6 is a different issue altogether, and we need to work on it if is approved by high up @tanweer919.
@thisisayush I agree with your conventions. Seems good and consistent.

[2019-04-14 06:41] tanweer919 opened #347 "Better documentation of features available"
The current version of the extension contains many features whose purpose are hard to understand at first glance like context features, visual site map etc. Unless you randomly click on the feature or dig deep within the extension, you may not be able to understand its purpose. So better documentation is required.

[2019-04-14 06:44] sr6033 commented on #347
I think this can be solved with better UX as well. But as a beginner standpoint view, good documentation is important. I agree. Let's work on it.

[2019-04-14 06:50] tanweer919 commented on #347
Cool, lets make it work.

[2019-04-15 03:13] cheevu-RS commented on #338
@sr6033 I guess, they do want to move on to ES6, from Issue #307's response.

[2019-04-15 03:22] cheevu-RS commented on #306
@MaxReinisch Can I work on this?

[2019-04-16 00:31] MaxReinisch opened #348 "Ideas for better "Show me Context" UX."
There was a great discussion over at #340 about how to best improve the UX of this feature, as it has been a problem for a while.  Please continue that conversation here if you'd like.

[2019-04-16 06:05] sr6033 commented on #348
@MaxReinisch I am working on an idea for that. Will show the UI soon.

[2019-04-16 09:25] twlz0ne opened #350 "Failure to save a page when it's URL contains Unicode characters"
### Summary

Failure to save a page when it's URL contains Unicode characters.

![wayback-1](https://user-images.githubusercontent.com/2653486/56198000-9986e600-606c-11e9-943b-e36ce0e15acc.png)

### Actual Behavior

Failure to save the page

### Expected Behavior

Success to save the page

### Steps to Reproduce:

1. Visit https://github.com/lujun9972/emacs-document/blob/master/elisp-common/Emacs字

[2019-04-16 09:32] sr6033 commented on #350
It is working. The page is getting saved.
![image](https://user-images.githubusercontent.com/15799589/56198487-a8fc3400-6058-11e9-9ab5-24f0f2c26e86.png)

Saved page: https://web.archive.org/web/20190416092945/https://github.com/lujun9972/emacs-document/blob/master/elisp-common/Emacs%E5%AD%97%E8%8A%82%E7%A0%81%E5%86%85%E9%83%A8%E8%AF%B4%E6%98%8E.org

[2019-04-16 09:40] twlz0ne commented on #350
I also tried to submit the same URL via command [savepagenow](https://github.com/pastpages/savepagenow), and got the expected result:

[code]

![wayback-2](https://user-images.githubusercontent.com/2653486/56198874-54fc4a00-606e-11e9-960f-44be6a6f0ca9.png)

[2019-04-16 11:04] twlz0ne commented on #350
@sr6033 Thank you for noticing that

I checked the development repo, indeed it's working. But it returned me a beta test URL:

![wayback-machine-chrome-beta](https://user-images.githubusercontent.com/2653486/56204014-0c965980-6079-11e9-934e-7c1ed559beb2.png)

If I click the URL directly, then it tells me:

So I need to manually edit to get the correct URL.

[2019-04-16 11:07] sr6033 commented on #350
Yes. The beta site is still under development I suppose.

[2019-04-16 19:07] MaxReinisch commented on #306
sure @cheevu-RS

[2019-04-17 17:29] #106 closed

[2019-04-17 17:31] #108 closed

[2019-04-17 17:32] #104 closed

[2019-04-17 17:33] #3 closed

[2019-04-17 17:34] #125 closed

[2019-04-17 17:35] #102 closed

[2019-04-18 04:32] cheevu-RS opened #353 "Issue templates"
I believe an issue template would help newcomers to easily tell us the bugs they find/ the features they want, making it easier for developers to fix the issue/ add the feature.

[2019-04-25 20:09] #353 closed

[2019-04-28 15:15] Ritvyk commented on #348
I was thinking to add voice command feature.
**say -> "save this page as <name>" and the page will be saved in the archive.**
we could add more commands its just the matter of discussion over it.
Would you like to approve this idea or discuss over it..
_i have also created the prototype for this functionality._

[2019-05-01 00:20] thisisayush opened #366 "Improving Error Page Handling"
Right now, the extension catches any error code except 200 to show a wayback machine popup to see the most recent version of the page. This needs to be improved, for e.g. checking if a saved copy is available before showing the screen and also checking it for specific error codes, checking for 401 Unauthorised makes no sense.

Also, the UI for the dialog also needs to be improved, and instead of r

[2019-05-01 00:38] thisisayush commented on #347
And here comes my idea of First Run :P

[2019-05-01 19:17] tanweer919 opened #367 "Any update on GSOC??"
Can mentors give us any updates on how many slots are available for wayback-machine-chrome this year. And how are proposal selection procedure going on. Any update would be really helpful.
Thank you.

[2019-05-02 00:37] MaxReinisch opened #370 "Donate books is deprecated"
This feature was used when the wikipedia books backend used openlibrary.  I don't think this code is used anywhere anymore.  If someone want's to double check and then if it is unused, remove all the code for donatebooks, that would be fantastic

[2019-05-02 02:07] cheevu-RS commented on #370
@MaxReinisch I will work on this

[2019-05-02 21:21] #370 closed

[2019-05-02 21:24] MaxReinisch commented on #366
I agree that the 404 feature does feel clunky.  It really should only run on 404's and you are right that it's bad to show dialog before checking if we have the page.  I'm not sure if showing a full screen popup is the best way, maybe have a more subtle notification in the extension.  If anyone has used the Honey extension, I think they usually have a dialog open on checkout on a store page that i

[2019-05-05 20:30] #367 closed

[2019-05-07 07:34] thisisayush commented on #334
Well, I didn't get on GSoC this year, seems the slots were less so the extension didn't make it to the idealist. Nevertheless, congrats to all those who got selected :) Keep Trying, Keep Contributing!

Also, I would like to keep this one open, since there is no link to carry out any communications with the community, we can use this till then.

Thanks @MaxReinisch for the support and help :)

[2019-05-07 07:35] thisisayush commented on #366
404 will do, but before showing the popup, a simple quick ajax call to check if the page's archive is available would be good.

[2019-05-07 08:46] sr6033 commented on #334
Yes. I also think that the slots provided by Google were less and so the extension didn't appear. I agree with you for keeping this open.

Thanks to all for helping out. Also, works are left which need to be completed.

[2019-07-17 10:22] Pablohn26 opened #379 "How to translate to Spanish?"
**Is your feature request related to a problem/ issue? Please describe.**
The extension is not translated to Spanish, so I see English text on the extension and when I open secondary click menu too

**Describe the solution you'd like**
A place or a file with the strings that I have to translate

**Describe alternatives you've considered**
I am open to other alternatives. I just want to translate t

[2019-12-29 19:15] YashKumarVerma commented on #338
How about using camelCase for the variable names as well ? Won't that be more consistent?

[2020-01-03 07:01] thisisayush commented on #338
It'll be, but I suggested the convention according to what was being used majorly in the code.

[2020-01-03 07:46] YashKumarVerma commented on #338
@thisisayush  can you have a look at #424.

Also, there's a mixture of both notations in the code. So I was a bit confused regarding it.

[2020-02-01 10:09] VishnuRaghavan commented on #103
Why isn't the issue closed?

[2020-02-08 20:34] ZaidBJ opened #425 "Clickable buttons doesn't seem to be good"
Clickable buttons doesn't seem to be good, some hover effect on the buttons will do the job,

[2020-02-08 20:35] ZaidBJ commented on #366
hi
I would like to take up this issue

[2020-02-09 02:24] thisisayush commented on #366
@ZaidBJ Sure. Keep us posted, ping if you need any help.

[2020-02-15 00:21] ZaidBJ commented on #86
Hi can I take up this issue

[2020-02-15 02:15] ZaidBJ commented on #302
@MaxReinisch , can I take up this issue

[2020-02-22 19:28] 9devilal commented on #342
@sr6033 can i work on it

[2020-02-22 21:01] 9devilal opened #428 "cursor should change to pointer when hovered over social media icons"

[2020-02-23 14:22] ZaidBJ commented on #428
@9devilal  i guess this has been done intentionally for a better user experience

[2020-02-24 11:56] 9devilal commented on #428
@ZaidBJ maybe . thanks for commenting  :)

[2020-02-24 15:48] karn21 opened #430 "Google plus social media icon is unnecessary."
Since Google+ service has been closed by google for personal use, there should not be an icon for the same.

Steps to reproduce the behavior:

1. Click on extension icon
2. See the social media icons

**Expected behavior**
There should not be Google+ icon

**Screenshots**
![Annotation 2020-02-24 211609](https://user-images.githubusercontent.com/50626492/75167184-fd794100-574a-11ea-9e46-b21d17b0998

[2020-02-25 07:57] dhruv0000 opened #431 "Back Button not visible from settings>>context"
**Describe the bug**
There is no way to toggle back from the context sub-setting

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the extension
2. Click on settings
3. Select 'Context' Sub-option
4. See error

**Expected behavior**
The back button should be visible.

**Screenshots**
![error1](https://user-images.githubusercontent.com/44001539/75226321-37d9f100-57d2-11ea-9fc1-df075be916d

[2020-02-25 07:58] dhruv0000 commented on #431
I would like to work on this issue.

[2020-02-25 16:58] srajgure commented on #430
@karn21  I think Chrome Webstore has the previous version of Wayback machine. The google plus icon is removed in the current master branch. So there is no need for a change.
![wayback2](https://user-images.githubusercontent.com/36104964/75268427-7e087200-581d-11ea-869e-a4e963519448.png)

[2020-02-26 08:03] darkshredder commented on #307
I would like to work on this issue.

[2020-02-26 22:20] Jayaprakashkumar commented on #428
Hello, I would like to work on this issue. I'm very new to this GSOC and open-source project. I fix this issue. I am trying to raise new PR, but it seems to access denied. Would you help me to get access and do further contributions

**Error:**
remote: Permission to internetarchive/wayback-machine-chrome.git denied to Jayaprakashkumar.
fatal: unable to access 'https://github.com/internetarchive/wa

[2020-02-27 04:23] srajgure opened #436 ""Share with Twitter" just opens twitter home page."
**Description**
"Share with Twitter" just opens the twitter homepage. Unlike other sharing options that directly allow the user to share the page as a post.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any webpage you would like to share.
2. Click on 'Share with Twitter'
3. You will be redirected to Twitter homepage.

**Screenshot**
![image](https://user-images.githubusercontent.com

[2020-02-28 10:21] BisariaUtkarsh commented on #338
Hello

I m looking forward to contribute to Internet Archive (Development of extension) for GSOC 2020. So can I take up this issue and implement the following convention.

Thanks

[2020-02-29 07:19] #430 closed

[2020-03-03 12:28] shrenikr235 opened #438 "Advanced Web Analyzer for the Wayback Machine chrome extension"
A live website analyzer that provides information including website traffic, statistics, popularity, contact info etc. would be nice to have if integrated into the wayback machine chrome extension. I'd like to work on this project if possible. I'm new here so any input is appreciated.

[2020-03-03 13:27] shrenikr235 opened #439 "Removal of Google+ from the Wayback Machine chrome extension."
Google+ has been shut down for almost a year now. The share icon on the chrome extension just redirects to a "Google+ has been shut down" page. I've edited popup.js and index.html from the chrome extension directory and everything looks good. I'm new here so any input is appreciated.

[2020-03-05 05:56] karn21 commented on #439
The version on chrome webstore is older. In the newer versions it has been removed. For reference see this [issue](https://github.com/internetarchive/wayback-machine-chrome/issues/430#issue-569945391).

[2020-03-05 12:39] shrenikr235 commented on #439
Thanks for the update @karn21

[2020-03-05 12:39] #439 closed

[2020-03-05 18:07] rishipurwar1 commented on #425
I want to work on this issue

[2020-03-07 11:37] Infinity-Intellect commented on #436
Can I work on this, or has this already been fixed?

[2020-03-09 05:56] srajgure commented on #436
@Infinity-Intellect  It's been fixed.

[2020-03-09 18:07] shobhi1310 commented on #438
yeah! this is a very nice idea, but isn't it too obvious that things like traffic, statistics, etc. are the company's personnal issues and all data is not meant for public? Just saying, even I am intersted in working towards this issue if everything is legal. 😀

[2020-03-12 08:30] ZaidBJ commented on #436
why the extension live on chrome store and the one in the master branch are different(UI and some features)

[2020-03-12 16:31] SundeepChand commented on #425
Has it been assigned to someone? If not then I'd like to work on this.

[2020-03-12 16:41] superusercode opened #441 "Listing for Microsoft Edge (chromium version)"
**Is your feature request related to a problem/ issue? Please describe.**
Make the wayback machine extension available on the edge addons store. Edge is now based on chromium and no longer requires additional work to convert the extension. Existing users can install straight from the CWS, but this would be more convenient.

**Describe the solution you'd like**
There is no work to port the extensio

[2020-03-21 09:16] msaaddev commented on #441
Hey, @superusercode! I don't think it will be that easy since there is still a lot of Web API functionality Edge [does not support](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Browser_support_for_JavaScript_APIs). Though it is still possible, it will need some work.

[2020-03-21 14:08] superusercode commented on #441
@msaaddev that comparison has not been updated to reflect that edge is now based on chromium (notice that the icon still uses the old logo)

old:
![image](https://user-images.githubusercontent.com/60588434/77228152-cafd1100-6b5b-11ea-922c-eda7f159305a.png)

new:
![image](https://user-images.githubusercontent.com/60588434/77228162-d7816980-6b5b-11ea-874a-0315cb483c39.png)

if you do notice any conc

[2020-03-21 14:09] superusercode commented on #441
I have been using the extension perfectly by installing it from the chrome web store at the moment
![image](https://user-images.githubusercontent.com/60588434/77228192-0d265280-6b5c-11ea-9c54-27f40fc54dc1.png)

[2020-03-22 19:50] pranshukharkwal opened #442 "Clicking on a section in the sitemap, redirects to the homepage"
**Describe the bug**
Upon clicking on any section in the sitemap graph, it is redirecting to the Wayback machine homepage. It is working for some pages but is not working for most of the pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any site (https://geek-university.com/linux/install-ubuntu/) I tried with this one
2. Click on 'The sitemap option in the extension'
3. Click on a

[2020-03-24 19:48] pranshukharkwal opened #443 "Enter button in the search section does not work"
**Describe the bug**
The search option only works when you choose a site from the list of suggestions but the search option does not work when you type some word and press enter

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the extension
2. Click on the search section and type anything
3. Press enter

**Expected behavior**
Search should take place on the basis of the word given, a

[2020-03-28 13:25] tikhsuP commented on #443
@pranshukharkwal  are you checking this functionality in the current version or in the previous version of the extension?
Google extension store has a previous version.

[2020-03-28 14:15] tikhsuP opened #446 "Labels in GENERAL-Breaking DOM"
**Describe the bug**

The list items or labels in the GENERAL section do not have a defined width. Thus, breaking the DOM.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'GENERAL' section
2. Click on 'GENERAL' button
3. See error

**Expected behavior**
The label elements should have a defined width.

**Screenshots**

![Screenshot (38)](https://user-images.githubusercontent.com/4288187

[2020-03-28 14:46] pranshukharkwal commented on #443
@tikhsuP I was checking with the previous version. Can you please share the crx file for the current version, or am I supposed to check the current version by setting up the development environment

[2020-03-28 15:16] tikhsuP commented on #443
@pranshukharkwal
You can check it by installing the development environment, I am doing the same.

[2020-03-28 15:52] tikhsuP opened #448 "Incorrect rendering of a label in GENERAL"
**Describe the bug**

This issue is an extension of #446
While solving the issue, I noticed the misbehavior of the:
 `<div class="switch ctx" id="view">
          <div id="viewText">Show Features in</div>
            <input type="radio" name="tw" value="tab">
            <label class="toggle">Tab</label>
            <input type="radio" name="tw" value="window">
            <label class="toggle">Wi

[2020-03-28 16:04] tikhsuP commented on #448
The PR #447 has been updated to fix both the issues #446 #448

[2020-03-29 04:10] tikhsuP opened #449 "Uneven Margin in 'Tweets About This Page' button"
**Describe the bug**

There is uneven top-bottom marginin the 'Tweets About This Page' button.
This is happening due to the Twitter Icon.
Although, all the buttons have been assigned the same height (30px), but the inclusion of this icon breaks the desired sizing of the 'Tweets About This Page' button.
This is because the class `.fa { margin-top: 6px; }` is applying this extra margin to the top of

[2020-03-29 06:05] tikhsuP opened #450 "Flip-NOT WORKING: Code Improvement"
**Describe the bug**

In [index.html](https://github.com/internetarchive/wayback-machine-chrome/blob/master/index.html) you can see that all the buttons are intended to flip, but only the 'Show Me Context' button is flipping.

 `<div class="flip" id="savebtn">...</div>  <div class="flip" id="recentbtn">...</div>  <div class="flip" id="firstbtn">...</div>  <div class="flip" id="allbtn">...</div>  <

[2020-03-29 13:10] tikhsuP opened #451 "Add Share through EMAIL option"
**Feature**
We can add a share through EMAIL button in the SHARE section.

![Screenshot (42)](https://user-images.githubusercontent.com/42881874/77849975-1c0ca500-71ed-11ea-8689-c3d0ade40936.png)

This adds another option to share and increases the functionality of the extension.

[2020-03-30 19:23] sanyam99ag commented on #450
@tikhsuP Flip functionality is only to display additional information. When the URL is not supported then it gets to show the particular piece of information. But when everything goes correctly it remains fixed since there is no info to show on that particular website.

[2020-03-30 19:35] sanyam99ag commented on #431
@dhruv0000 Yes, by increasing the dimensions the problem will be solved but wouldn't it be better if there can be a scroller in spite of increasing the size of the popup window.

[2020-03-30 19:42] tikhsuP commented on #450
@sanyam99ag
Yeah, I get that, thanks :)
But, I would like to check that flipping functionality, how do i do that?

[2020-03-30 19:59] sanyam99ag commented on #450
Since URL without Http or Https is not supported.
so for example: If you are checking the current version then, when you will go to the about page of the latest version of the extension, you find the flip is working to show "URL Not Supported".

[2020-03-30 20:17] tikhsuP commented on #450
Actually, I am facing some issues while setting up the environment locally.

![Screenshot (47)](https://user-images.githubusercontent.com/42881874/77957343-f963b480-72f0-11ea-8d59-cd4282e6c041.png)

I have made sure that the following code is included in my manifest.json file but the errors aren't solved:

`"permissions": [
    "storage"
  ],`

[2020-04-01 20:03] #450 closed

[2020-04-02 05:32] tikhsuP opened #452 "Update Readme.md-Simplify DEVELOPMENT section"
**Describe the bug**

The DEVELOPMENT section in the Readme.md file can be improved to make it easier for the new contributors to set up the extension locally.
Although, it instructs to check the [https://developer.chrome.com/extensions](https://developer.chrome.com/extensions) but I believe that quoting the steps in the Readme file will encourage more developers to contribute with ease. Many deve

[2020-04-04 09:08] tikhsuP opened #453 "Add Share through LINK sharing option"
## Feature
We can add a LINK Sharing button in the SHARE section.
![Capt](https://user-images.githubusercontent.com/42881874/78423118-dd11a000-7681-11ea-8fd7-8a4ca33b34af.PNG)

[2020-04-04 09:37] #448 closed

[2020-04-04 09:37] #446 closed

[2020-04-16 22:03] tikhsuP commented on #451
The button can look like this:
![Capture](https://user-images.githubusercontent.com/42881874/79510994-0821c980-805c-11ea-91c8-b24c3eb2420e.PNG)

@anishsarangi sir, what are your thoughts?

[2020-04-16 22:33] tikhsuP opened #460 "Adding Fb and LinkedIn posts button"
**Is your feature request related to a problem/ issue? Please describe.**
Being a user of this extension, I have always felt the need to search Fb/LinkedIn posts about the page I am surfing. The extension only provides a button to see the tweets about the page but it allows the user to share the page on Fb, LinkedIn and Twitter. It would be great to have buttons that show me Fb and LinkedIn posts

[2020-04-16 23:22] tikhsuP opened #461 "Adding a 'SHARE this extension' button"
**Is your feature request related to a problem/ issue? Please describe.**
I have always felt the need to share the extension with my friends, there are many extensions in the Chrome Web Store with the same name and logo, so, I need to copy the link from the webstore and share that. It would be great to have a 'share this extension' button that allows me to share this extension with my friends.

**

[2020-04-17 09:07] tikhsuP commented on #431
@sanyam99ag
![Capture4441](https://user-images.githubusercontent.com/42881874/79552527-c70bd280-80b8-11ea-8fe1-868be0f8a69f.PNG)
![Capture444411](https://user-images.githubusercontent.com/42881874/79552610-e0ad1a00-80b8-11ea-8e1b-cd6d7c6e0c48.PNG)

I believe this is what we seek here.
I would like to work on it.

[2020-04-21 06:24] cgorringe commented on #338
I created a Style Guide for review here: #467

[2020-04-21 20:07] #5 closed

[2020-04-21 20:07] #6 closed

[2020-04-21 20:08] #19 closed

[2020-04-21 20:08] #50 closed

[2020-04-21 20:08] #56 closed

[2020-04-21 20:09] anishsarangi commented on #61
This is feature is already implemented

[2020-04-21 20:09] #61 closed

[2020-04-21 20:11] anishsarangi commented on #68
This issue is on our todo list !! Thanks!

[2020-04-21 20:34] #69 closed

[2020-04-21 20:34] #73 closed

[2020-04-21 20:35] #77 closed

[2020-04-21 20:35] #75 closed

[2020-04-21 20:42] anishsarangi commented on #70
We are now working on showing the number of archives of a URL showing it as a Badge

[2020-04-21 20:42] #70 closed

[2020-04-21 20:42] #71 closed

[2020-04-21 20:43] #79 closed

[2020-04-21 20:43] #80 closed

[2020-04-21 20:43] #81 closed

[2020-04-21 20:43] #83 closed

[2020-04-21 20:45] anishsarangi commented on #84
WE will start developing the edge version as well after we release a complete stable version of chrome extension

[2020-04-21 20:45] #84 closed

[2020-04-21 20:45] #86 closed

[2020-04-21 20:45] #94 closed

[2020-04-21 20:46] #95 closed

[2020-04-21 20:46] #93 closed

[2020-04-21 20:46] #91 closed

[2020-04-21 20:46] #96 closed

[2020-04-21 20:47] #98 closed

[2020-04-21 20:47] #103 closed

[2020-04-21 20:48] #219 closed

[2020-04-21 20:48] #105 closed

[2020-04-21 20:49] #274 closed

[2020-04-21 20:50] anishsarangi commented on #280
This is in our todo-list !!

[2020-04-21 20:50] #283 closed

[2020-04-21 20:50] #307 closed

[2020-04-21 20:51] #306 closed

[2020-04-21 20:51] anishsarangi commented on #302
This feature we are currently implementing!!

[2020-04-21 20:51] #302 closed

[2020-04-21 20:52] #290 closed

[2020-04-21 20:53] #299 closed

[2020-04-21 20:54] #309 closed

[2020-04-21 20:54] #339 closed

[2020-04-21 20:55] #332 closed

[2020-04-21 20:55] #342 closed

[2020-04-21 20:56] #366 closed

[2020-04-21 20:58] #460 closed

[2020-04-21 21:00] anishsarangi commented on #451
We don't have any feature like this in to-do list !

[2020-04-21 21:00] #451 closed

[2020-04-21 21:00] #347 closed

[2020-04-21 21:03] anishsarangi commented on #348
This thing is already implemented !! We can close this Issue !!

[2020-04-21 21:03] #348 closed

[2020-04-21 21:03] #425 closed

[2020-04-21 21:10] #334 closed

[2020-04-24 23:35] #452 closed

[2020-04-26 06:44] cgorringe commented on #449
Thanks, it's now been fixed.

[2020-04-26 06:44] #449 closed

[2020-04-26 06:53] cgorringe commented on #438
I'd think much of that information would be dependent on what the website shares. The extension does have a context page for the Alexa service. Would you have any other suggestions for where we could link to such data?

[2020-04-26 06:54] cgorringe commented on #428
The issue's been fixed now, thanks!

[2020-04-26 06:54] #428 closed

[2020-04-26 07:38] tikhsuP commented on #449
Yes, I checked the new UI, it looks great.

[2020-04-26 22:04] #436 closed

[2020-04-27 23:28] tikhsuP opened #473 "Mentioning the latest capture."
**Is your feature request related to a problem/ issue? Please describe.**
I was checking the latest version of the extension and after saving a page, I realized that there is more that can be done.
I felt the need to know/confirm if the page was saved or not. All I could investigate was that I had saved a page on that day, as the message was displayed on the flipped 'SAVE PAGE NOW' button.

I inve

[2020-04-27 23:40] cgorringe commented on #473
Yep, that was actually on my TODO list for today. I'm going to display the last saved TIME instead of the DATE if the last save occurred within the past 24 hours.

[2020-04-27 23:47] tikhsuP commented on #473
That's great.

[2020-04-28 00:16] tikhsuP opened #474 "Slow flipping of Save Page Now button: Performance Improvement"
**Describe the bug**
I am not sure if this is a valid bug or not.
When I hover over the Save Page Now button for the first time, after restarting the extension, it takes longer to flip than the next time. This may be because it takes some time to fetch the data.

**To Reproduce**
Steps to reproduce the behavior:
Open a page:
1. Open the extension by clicking on the icon in the Toolbar
2. Hover ove

[2020-04-29 19:43] sanyam99ag opened #475 "Mentioning the Date/Time for the Oldest and Newest version of saved webpage."
**Is your feature request related to a problem/ issue? Please describe.**
According to the updated repository the page save status is being displayed on the flipped "Save Page Now" Button.
The feature that can be added is we can mention the respective Date/Time on the flipped "Oldest" and "Newest" Button. So the user will get to know about the oldest and the newest version of the webpage without c

[2020-04-29 19:50] tikhsuP commented on #475
That would be great.

[2020-04-30 10:43] tikhsuP opened #477 "Checking of SHOW ALL CONTEXTS checkbox"
**Describe the bug**
When the user clicks/checks the SHOW ALL CONTEXTS checkbox, all the context checkboxes get checked. Same happens when the user unchecks this checkbox, but, this checkbox should also get checked automatically if the user manually checks all other context checkboxes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the CONTEXTS section in SETTINGS
2. Check all the che

[2020-04-30 10:47] tikhsuP commented on #477
Another way to express this issue is:
1. Check the SHOW ALL CONTEXTS checkbox
2. Uncheck any of the other checkboxes
3. The SHOW ALL CONTEXTS checkbox gets unchecked, as it should
4. Now check the same unchecked checkbox, the SHOW ALL CONTEXTS checkbox should get checked but it doesn't
5. See Error

[2020-04-30 12:04] anishsarangi commented on #477
Nice @tikhsuP ! Thank you for pointing out this issue. Please feel free to make a PR :-)

[2020-05-01 10:14] cgorringe commented on #475
Not sure if it'll fit well on the smaller buttons. I guess someone can try it and see.

[2020-05-01 14:19] #477 closed

[2020-05-02 08:31] sanyam99ag commented on #475
@cgorringe Surely the date will fit in the button if we use the "YY/MM/DD" format.
&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;        ![Oldest](https://user-images.githubusercontent.com/39384430/80859191-5221c680-8c7c-11ea-8fc8-f142ee824332.png) &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    ![Newest](https://user-images.githubusercontent.com/39384430/80859189-50580300-8c7c-11ea-8f21-f

[2020-05-02 09:13] tikhsuP commented on #475
I think we should follow the same pattern as in the Save Page Now button, as using a different pattern will confuse the user.
Also, the YYYY/MM/DD is the easiest to understand. The patterns like YY/MM/DD, DD/MM/YY, MM/DD/YY are more probable to be misunderstood.

Can we try a popup message with YYYY-MM-DD that shows up on hover?

[2020-05-02 19:00] sanyam99ag commented on #475
That is a great recommendation to keep uniformity for better user experience.
So we can decrease the size of the calendar icon, so as to display the date in standard format i.e. YYYY/MM/DD

![Screenshot from 2020-05-03 00-29-05](https://user-images.githubusercontent.com/39384430/80873301-2979eb00-8cd5-11ea-9f8a-ddefdc27e2b5.png)

[2020-05-02 19:32] cgorringe commented on #475
I'm not in favor of reducing the size of the calendar icon. If we're going to do this, I'd rather widen the buttons or shrink the font size of the date.

I'd suggest the date format be whatever the default locale is for the user. Example:
[code]

Also note that the "Newest" date is the same as the "Save Page Now" date, so would be redundant.

[2020-05-04 04:26] tikhsuP opened #488 "Imporving the switch UI in Settings menu"
**Is your feature request related to a problem/ issue? Please describe.**
I suggest this theme to make the Settings menu easier to understand, as right now it is a bit confusing to understand which button is selected.

![Capturehhhhh](https://user-images.githubusercontent.com/42881874/80936124-60432480-8ded-11ea-8d0b-7681c1589173.PNG)

[2020-05-04 06:14] cgorringe commented on #488
I think this is a great improvement!

[2020-05-04 06:35] anishsarangi commented on #488
I am tagging @markjohngraham here so that he can take a took. It is a great solution I think.
Thanks @tikhsuP .

[2020-05-12 08:23] cgorringe commented on #255
React is likely overkill. We redid the design anyhow just with plain html / css!

[2020-05-12 08:23] #255 closed

[2020-05-12 21:06] cgorringe opened #493 "Various Wayback Count Issues"
Here's a list of remaining issues discovered in the new Wayback Count feature.

- [x] BUG in Wayback Count where anything in URL after `?` is ignored.
For example, this page doesn't show the correct count:
https://news.ycombinator.com/item?id=23147752

- [x] BUG: Auto-Save also strips anything after the `?` in the URL.

- [x] BUG: Displays wayback count in badge, but when tapping Calendar button i

[2020-05-14 19:46] #493 closed

[2020-05-15 07:26] #488 closed

[2020-05-15 21:50] shucon commented on #431
I'm not able to reproduce this issue on my local computer with the latest master branch
![Screenshot from 2020-05-16 03-17-49](https://user-images.githubusercontent.com/22860775/82099151-33afd680-9724-11ea-8b82-e475c926dc2e.png)

[2020-05-15 21:55] tikhsuP commented on #431
@shucon, this issue is fixed as the extension has been redesigned. This issue will be closed shortly.
Thanks for your interest :)

[2020-05-15 22:09] shucon commented on #438
@cgorringe Ahrefs provide a lot of data, though it's a paid service. So don't know if it's feasible.

[2020-05-15 22:14] shucon commented on #431
Please link it with the PR that closed it. It's always helpful :)

[2020-05-16 00:03] #431 closed

[2020-05-16 00:54] cgorringe commented on #431
There's been multiple PRs that have updated this UI, but latest was #495.

[2020-05-16 20:51] shucon commented on #461
@cgorringe is this a valid enhancement you feel should be added? Also, can I work on this as I see no one is assigned as of now?

[2020-05-19 19:35] cgorringe opened #504 "Dark Mode for remaining pages and update About page"
There are a few pages remaining to update for Dark Mode:
- [x] Cited Papers
- [x] Cited Books
- [x] About page

- [x] Update About page content:
  - Features list: Rename headers and edit information.
  - Credit: Add latest contributors.
- [x] Add Links to About page:
  - "Contact Us": https://archive.org/about/contact.php
  - "Donate": https://archive.org/donate/
  - "Reviews": https://chrome.goo

[2020-05-19 19:45] #473 closed

[2020-05-19 20:04] cgorringe commented on #504
Can also add links to the iOS and Android app. Include app store buttons.
Here's the page for Apple (iOS and Safari extension)
https://apps.apple.com/us/developer/internet-archive/id1197048903

[2020-05-19 23:27] cgorringe opened #505 "Install Prompt on Chrome for Archive Home Page."
I don't know yet if this is viable, but I was thinking wouldn't it be nice if, when visiting archive.org or web.archive.org, the Chrome "Install app?" prompt button would show in the address bar. This would direct the user to install the Chrome Extension.

You can see an example of this while visiting the yahoo.com homepage. It shows up as a plus-inside-circle (+) button next to the star icon in t

[2020-05-20 00:21] cgorringe opened #506 ""Enable 404 Not Found" Setting"
I'd like to see an "Enable 404 Not Found" item added to General Settings.
- When set, turns on Wayback Availability check when visiting a 404 page, and displays HTML popup. This is what currently happens.
- When not set, turn off the check (don't call API), and don't display popup.
- This should be set default ON when user runs extension for first time.

Here's a 404 link to test against:
http://p

[2020-05-20 00:28] cgorringe opened #507 "Review and Reduce API calls + Privacy setting"
This idea here is to make more efficient by reducing API calls, and increasing privacy.

- Analyze API calls that are being made in the background.
  - How often? Are they excessive? Are the same calls being made repeatedly?
  - Can you find a way to reduce or cache repeated API calls?

- Add a Setting to top of General Settings, called "Private Mode".
  - This would work similar to "Show All Cont

[2020-05-20 06:57] cgorringe commented on #507
Here's an example API call that happens repeatedly.

An authentication check is done every time user taps toolbar icon and popup opens.

- POST to https://web.archive.org/save/ - with empty parameters.
  - fetched from auth_check() in background.js
  - which is called from checkAuthentication() in popup.js
  - which is called from last_save() in popup.js
  - which is called from checkExcluded() in

[2020-05-20 14:36] NGTmeaty commented on #505
I believe the install app prompt you would be seeing on something like Yahoo would be for a Progressive Web App, rather than an extension and I don't believe there's an easy way to actually make it install an extension rather than a PWA.

[2020-05-20 14:49] anishsarangi opened #510 "Showing user a message that the extension will not work for some particular URL"
When the user is on an URL that is in the “excluded-list”, he can be confused why some buttons are not working.
E.g-  If the user is on https://chrome.google.com/webstore/detail/wayback-machine/fpnmgdkabkmnadcjpehmlllkndpkmiak/reviews?hl=en
then he clicks on the extension and if he click on “facebook” sharing button, it will not work. But when the user will hover on “Save Page Now” button, then he

[2020-05-21 04:42] cgorringe opened #512 "Auto-update Context should remain on same context"
**Describe the bug**

When auto-updating contexts, when you switch between different websites, the Context page does correctly reload. However, the highlighted context reverts to Alexa Internet or whatever's the first tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Check "Auto-update Contexts on New Pages".
2. Check "Show All Contexts".
3. (Optionally) Show Features in Window.
4. Open a

[2020-05-21 06:10] cgorringe commented on #461
Copying the link to clipboard can also be done by clicking on the 2nd (Feedback) icon, which takes you to the Chrome store page, and copying that URL from the address bar. What about links to Wayback extensions for other browsers? I think they should be listed on the About page. While this button is conveniently faster, we must also balance the usage of this last remaining space available with the

[2020-05-21 08:12] cgorringe commented on #443
Since this issue only applies to the old version on the Chrome store, I'm closing this issue.

[2020-05-21 08:12] #443 closed

[2020-05-21 08:19] cgorringe commented on #442
It's supposed to link to a particular page in the wayback machine, and not the home page. For now, in the latest development version, it opens the Site Map website instead of drawing it within the extension.

[2020-05-21 08:23] cgorringe commented on #438
Including this link here for future reference: https://ahrefs.com

[2020-05-21 08:25] cgorringe commented on #379
There's a lot to be done to prepare the codebase for multiple-language support, but I'd love to see this happen.

[2020-05-21 08:43] cgorringe commented on #350
I noticed that these "404" pages happen with Github pages in particular, and not necessarily due to Unicode characters. I just tested with latest master branch and got the same 404 page posted above. The save API call appeared to work fine. I wonder if Github is intentionally feeding these pages to the Archive's bots?

[2020-05-21 08:56] cgorringe commented on #280
I think this issue is referring to something different than translating the extension to multiple languages (#379), but rather that the Wayback Machine web scrapers would properly archive all of the translations of a website. The extension doesn't actually do the archiving, but simply sends the URL of the current website to the Wayback Machine to archive. So likely not much to do on the front end?

[2020-05-21 09:01] cgorringe commented on #68
This is a different issue than translations of this extension (#379), but rather this is suggesting a feature added to return different language versions of the same archive.

This sounds like something that should be on the Wayback Machine's website, when it shows the archive overview (calendar) page, there should be links to the other language versions.

[2020-05-21 09:04] cgorringe commented on #72
I think someone did do a PR on this, but Voice Search isn't really something I think we want to include in the extension.

[2020-05-21 09:04] #72 closed

[2020-05-21 20:25] anishsarangi commented on #506
@cgorringe This is actually a main feature of our extension. Do you still want to mark it as a "option" for the user ?

[2020-05-21 23:15] cgorringe commented on #506
Yes, but the option should be set to ON by default when the user first installs it. I've seen some reports on Safari, but also may occur on Chrome, where the 404 popup doesn't work properly or interferes with web browsing.

A couple of [reviews quoted from here](https://chrome.google.com/webstore/detail/wayback-machine/fpnmgdkabkmnadcjpehmlllkndpkmiak/reviews?hl=en):

On that second one, I've also

[2020-05-21 23:32] #510 closed

[2020-05-23 06:22] cgorringe commented on #504
I'm working on updating the About page content.

[2020-05-24 15:22] tikhsuP commented on #453
@anishsarangi @cgorringe  What are your thoughts on this?

[2020-05-24 18:19] mitchell-frost commented on #507
I am new to open source. Can I work on this?

[2020-05-24 18:25] mitchell-frost commented on #506
Can I work on this?

[2020-05-24 18:29] anishsarangi commented on #506
@mitchell-frost I have already worked on this https://github.com/internetarchive/wayback-machine-chrome/pull/518.
Please feel free to pick up any other issues.
Thank you !

[2020-05-24 20:51] vbanos opened #519 "Limited set of http status codes used"
https://github.com/internetarchive/wayback-machine-chrome/blob/850f9e3b7338cb82d114a8b49b18099aa42792e4/scripts/background.js#L32

We use this list to check for problematic pages in one place.
Why don't we just check if `details.statusCode >= 400` ? The status could have a value that is not in this limited list, e.g. 501 or 401. It could be any 4xx or 5xx page.

[2020-05-24 21:14] vbanos opened #520 "Inefficient list lookup for every page load"
https://github.com/internetarchive/wayback-machine-chrome/blob/850f9e3b7338cb82d114a8b49b18099aa42792e4/scripts/background.js#L18

We need to see if the current host belongs to a list of news hosts. The news hosts are stored in a `list`.

When you do `newshosts.includes(other_host)`, you compare `other_host` with EVERY host in the list. This is not efficient. There are other datastructures, e.g. `

[2020-05-25 09:32] #506 closed

[2020-05-25 09:50] #512 closed

[2020-05-25 10:10] cgorringe commented on #520
Although in practice comparing against this short list likely wouldn't be noticeable, but YES you're totally correct that the proper data structure is a dictionary or set. :-)

[2020-05-25 10:18] anishsarangi commented on #520
Thank you @vbanos . Yes, the correct implementation would be using `set` or `dict` where the lookup will take constant time which is now taking `O(n)` in case of `list`.
Thank you. I will work on that.

[2020-05-25 10:21] anishsarangi commented on #519
Thank you @vbanos . It would be better if we will use just `details.statusCode >= 400` rather than checking in the list. I will work on that. Thank you !

[2020-05-25 14:01] mitchell-frost commented on #506
@anishsarangi sure! Thanks for the heads up.

[2020-05-26 06:53] #520 closed

[2020-05-26 06:59] #519 closed

[2020-05-28 17:06] tikhsuP opened #530 "Icon and Message Updation issue"
**Describe the bug**

When the user clicks on the SPN button, the WBM Extension icon (in the Browser Extension Toolbar)  changes to 'S', and the 'Save Page Now' button shows 'Saving Page...', which is the desired behavior.

But, when the user switches tabs, the toolbar still shows the 'S' icon and the button still says 'Saving Page...'. This creates confusion for the user and makes it difficult to

[2020-05-28 20:56] pranshukharkwal opened #531 "The readme.md file needs revisions, addition of a proper contribution guide for new developers."
In my opinion, the readme.md file can be edited to improve the documentation so that the new contributors find it easy to start contributing.
I would like to work on this issue and add few more points to the documentation.
Here is a list of things that I intend to add to the documentation. I basically want to add a proper step by step contribution guide, which would contain these extra things, apa

[2020-05-28 20:58] pranshukharkwal commented on #531
@cgorringe Looking for a green flag, to start working on this issue

[2020-06-03 10:33] tikhsuP opened #536 ""Show Features in Window" isn't working in Firefox"
**Describe the bug**
When a Firefox user tries to see **Contexts** in a new window , the **Contexts Window** doesn't pops up.

**To Reproduce**
Open the extension in Firefox, then:
1. Go to **"Contexts"** menu
2. Select one or more context(s) that you would like to see
3. Go to **"General"** menu
4. Set the  **"Show Features in"** option to **Window**
5. Click on the **"Show Contexts"** button in

[2020-06-03 14:41] anishsarangi commented on #536
Thank you @tikhsuP for pointing this out !
I will make a PR resolving this issue !

[2020-06-03 18:47] tikhsuP commented on #536
This issue can be replicated also by the following steps:
Open the extension in Firefox, then:
1. Set the **"Show Features in"** option to **Window**
2. Click on any of the following:
  a. Fb/Twitter/Linked Share options
  b. Oldest/Overview/Newest buttons
  c. Sitemap/Related Tweets/ Show Contexts buttons
  d. Donate/About/ Feedback button
  e. Wayback Machine banner at the top
3. See error

[2020-06-04 10:40] tikhsuP opened #537 "Improve Tooltip Text"
**Describe the bug**
The tool tip text, displayed when the user hovers over the tool tip (**?**)  icon next to the **404 Not Found?** option, doesn't provides a clear description of this feature and needs to be improved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **General** settings
2. Hover over the **"?"** icon next to **404 Not Found?** option
3. See error

**Expected behavior

[2020-06-04 19:55] cgorringe commented on #536
Fixed in #535 and merged to master. Please test master, then close this issue if it works.

[2020-06-04 21:26] tikhsuP commented on #536
Works well in both Firefox and Chrome. We can close this issue.

[2020-06-04 21:41] #536 closed

[2020-06-06 20:54] tikhsuP opened #540 "Badge Count Not Updated"
**Describe the bug**
When the user successfully saves a page, the count doesn't get updated immediately.
And sometimes the count is updated on the extension (Wayback Count) but not on the badge, even after reloading the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to GENERAL Settings Menu
2. Enable Wayback Count feature
3. Save a webpage
4. Check the count if page is saved succes

[2020-06-07 23:48] tikhsuP opened #541 "Empty Context Screen"
**Describe the bug**
When the user opens the "Contexts" page, deselects all the selected contexts options in the Context menu and refreshes the page. The user sees a blank context screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Context menu**
2. Select one or more Context options
3. Click on **Show Contexts** button
4. Contexts Screen opens.
5. Deselect all the options in **C

[2020-06-09 03:06] #530 closed

[2020-06-10 23:07] cgorringe commented on #531
@markjgraham (our director) had assigned himself this issue, but I actually think it would be wonderful if you went ahead and worked on this @pranshukharkwal ! We can review it for edits during the pull request. There's some work already done on #325 which never got merged. Feel free to use some or all of that. I thinking having it as a separate contributor's guide file, then link or refer to it f

[2020-06-11 07:58] cgorringe opened #544 "Incorrectly saving pages on web.archive.org"
**Describe the bug**

While visiting a page on **web.archive.org**, and logged out, hovering over SPN button will say "URL not supported" (correct), but then when clicked, it will try to Save, then a notification returns an error that you need to be logged in. After logging in, this will actually Save the page, even though it is not supposed to.

**To Reproduce**
 - Visit an archived page, such as

[2020-06-11 08:06] cgorringe opened #545 "Right-click menu SPN doesn't work"
**Describe the bug**
The right-click menu "Save Page Now" currently isn't functional.

**To Reproduce**
Right click on a page, Wayback Machine > Save Page Now

**Expected behavior**
Needs to start the SPN process for that page's URL. Notify of saving, or if user isn't logged in.

**Screenshots**
![right-click-menu-SPN](https://user-images.githubusercontent.com/604259/84360929-c014b400-ab7f-11ea-90

[2020-06-11 08:28] cgorringe opened #546 "Allow users to create Web ARChive (WARC) files"
There was a suggestion that the extension include a function to be able to save the currently viewed website as a Web ARChive (WARC) file locally on the user's computer. This could be a feature for a future version of the extension.

Relevent Links:
- https://en.wikipedia.org/wiki/Web_ARChive
- https://iipc.github.io/warc-specifications/
- https://github.com/iipc/warc-specifications
- http://bibnu

[2020-06-11 08:50] cgorringe opened #547 "'Show Contexts' button sometimes dimmed, sometimes not, when disabled"
**Describe the bug**
The 'Show Contexts' button is at full brightness (enabled) when opening the popup when none of the contexts are turned on in Settings. It then dims (disabled) after going to Settings and returning without turning on any of the contexts. When any of the contexts are turned on in Settings, the button is correctly at full brightness.

**Expected behavior**
The 'Show Contexts' but

[2020-06-11 09:45] cgorringe opened #548 "Highlight Wayback Changes feature"
This is a new feature idea to make use of the Wayback Machine's Changes API.

The idea is to compare the latest saved snapshot of the currently viewed website, to a snapshot that was stored in the past. Perhaps the last snapshot that was archived just prior (by default) but may include a drop-down menu listing earlier snapshots. Then highlight the changes on the current page.

This is an example C

[2020-06-11 10:02] cgorringe opened #549 "Add a Resource List Popup Window to SPN"
This is a feature to add to 'Save Page Now'.

The idea is to create a popup window that displays a scrolling text box, populated with the list of resources (URLs) as they are being retrieved from the SPN2 API during pending status.

Mainly duplicating what the website version does while logged in, but as part of the extension.
https://web.archive.org/save

Would also have a checkbox in Settings to

[2020-06-11 15:30] pranshukharkwal commented on #531
Thanks @cgorringe
I am on it.
Also, do we have a communication channel, to discuss things related to Wayback machine chrome extension, and internet archive in general?
A slack workplace or something?

[2020-06-11 19:15] tikhsuP opened #551 "Relevant Archived Resources not accessible if the toolbar icon is 'S' or '✓'"
**Describe the bug**
When the user visits [https://www.amazon.in/End-Days-Predictions-Prophecies-Thorndike/dp/1410407462](https://www.amazon.in/End-Days-Predictions-Prophecies-Thorndike/dp/1410407462) with "Relevant Archived Resources" option enabled in "General" settings menu. The toolbar icon changes to 'R' and the user can see the "Read this book" (or other Archived Resources) option in the ext

[2020-06-11 23:54] cgorringe commented on #531
@pranshukharkwal Yes, we do use Slack to communicate, and you are welcome to join! Just email mark@archive.org and he will send you an invite.

[2020-06-12 21:22] #547 closed

[2020-06-15 08:42] tikhsuP opened #556 "Empty Space in Navbar in 'Context' screen"
**Describe the bug**
When the user selects less than 4 contexts then a blank space can be seen in the 'Context' screen navbar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Contexts' menu
2. Select less than 4 features
3. Click the 'Show Contexts' button
4. See error on the 'Context' page

**Expected behavior**
There should be no blank space in the Navbar. The width of the tabs

[2020-06-15 21:58] #541 closed

[2020-06-16 03:19] #556 closed

[2020-06-16 18:40] tikhsuP opened #559 "Alert box not working in Firefox"
**Describe the bug**
When a Firefox user opens a page that has never been saved and clicks on the **Oldest/Overview/Newest** buttons in the extension, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Firefox browser
2. Go to any page that has never been saved (eg. https://www.usatoday.com/story/news/investigations/2020/06/16/meat-shortages-were-unlikely-despite-warnings-

[2020-06-17 00:41] Melonadev opened #560 "Archiving url with Russian characters doesn't display PDF"
Archiving a PDF url with Russian characters (see links provided) doesn't display PDF at all.

### Relevant urls
**Archived**:
https://web.archive.org/web/20200605023059/http://xn--b1aanbebkbbpfqcbebcaoyded7a1etm.xn--p1ai/tribuna/kachesov.pdf

**Current (original url)**:
http://xn--b1aanbebkbbpfqcbebcaoyded7a1etm.xn--p1ai/tribuna/kachesov.pdf
or
союзмосковскихкомпозиторов.рф/tribuna/kachesov.pdf

*

[2020-06-17 12:46] tikhsuP commented on #560
Thank you @Melonadev for reporting this issue.

[2020-06-17 14:15] anishsarangi commented on #560
@vbanos Can you check this please? Thank you !

[2020-06-17 19:45] tikhsuP commented on #544
This is because it is not checking the login status if the URL is not supported.

[2020-06-17 22:06] #540 closed

[2020-06-17 22:19] #545 closed

[2020-06-17 22:33] cgorringe commented on #560
I can confirm that this is 1. An issue with web.archive.org, and 2. While also an issue with the Chrome extension, it should automatically work once (1) is fixed.

[2020-06-18 18:34] tikhsuP commented on #544
Why are we cleaning the URL in the `save_now()` function?
https://github.com/internetarchive/wayback-machine-chrome/blob/master/scripts/popup.js#L54
This is converting the "https://web.archive.org/web/20200609105857/https://www.iskme.org/" to " https://www.iskme.org" and saving it.

[2020-06-18 20:06] cgorringe commented on #544
I think we probably shouldn't be cleaning the URL.

[2020-06-18 21:48] #544 closed

[2020-06-19 07:20] #559 closed

[2020-06-20 06:14] #551 closed

[2020-06-20 09:12] anishsarangi commented on #549
@cgorringe Should we show the Resource List popup inside the extension popup ?

[2020-06-21 05:07] tikhsuP opened #569 "404 Popup not working correctly in Firefox"
**Describe the bug**
Test URL: http://purl.oclc.org/docs/inet96.html
When a Firefox user pastes this URL in the address bar and presses enter, the page (Error 404) opens but the popup doesn't appears. On refreshing the page, user can see the popup.

**To Reproduce**
Steps to reproduce the behavior in **Firefox**:
1. Copy the Test URL given above
2. Paste it in the address bar
3. Press **Enter**
4.

[2020-06-21 08:19] cgorringe commented on #549
I would think that showing a list of URLs inside that 200px wide popup wouldn't be a very good experience for users. So no. It should display in a new window (or tab) similar to Show Contexts. (but likely a different window/tab than Show Contexts.)

[2020-06-21 08:22] anishsarangi commented on #549
Thank you @cgorringe !

[2020-06-22 09:01] cgorringe opened #570 "View Websites as they Appeared in Historical Browsers?"
Wouldn't it be cool if not only could people see old websites in the Wayback Machine, but actually see how they looked and rendered in the same browser from the year the website was archived?

I just came across this open source project that can do this. Haven't looked into it too deeply yet, so don't know if it could run inside a browser extension or would require a webserver to run.

Browservice

[2020-06-22 09:09] #570 closed

[2020-06-23 08:18] #537 closed

[2020-06-24 04:31] #531 closed

[2020-06-25 08:00] cgorringe opened #580 "Port Extension to Safari 14"
Since the latest Safari will support these web extensions, let's get this working on Safari!

[2020-06-25 14:32] halogeno opened #581 "Chrome Extension dissapeared from Web Store"
https://chrome.google.com/webstore/detail/wayback-machine/fpnmgdkabkmnadcjpehmlllkndpkmiak is showing 404 in Google Web Store.

[2020-06-25 19:45] cgorringe commented on #581
Thanks, we're working on it!

[2020-07-01 20:28] msikma commented on #581
Weird. Curious to hear what happened.

[2020-07-01 21:26] cgorringe commented on #581
Google deleted it. We're trying to resubmit and restore the old page and hope we can get the same page back with the reviews intact, etc.

[2020-07-04 17:38] weirdalsuperfan opened #595 "Option for auto-saving old bookmarks"
I'm really excited to have an extension like this. The first thing that I did after installing it and enabling the auto-save feature was manually reopen about 1000 different webpages I've bookmarked over time. Unfortunately, maybe 5% of them were dead with no backup on the wayback machine. The auto-save feature is the greatest thing ever, and should avoid me ever having this problem again. However

[2020-07-04 22:10] cgorringe commented on #595
I'm glad that the auto-save feature helped! The idea to save past bookmarks is a really good idea that I hadn't thought of, thanks for suggesting it! And I think it's something we can do.

[2020-07-06 08:41] cgorringe commented on #595
Adding some API links for future reference:

**Bookmarks API**
- https://developer.chrome.com/extensions/bookmarks
- https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/bookmarks

[2020-07-07 05:19] cgorringe opened #600 "UI/UX Suggested Improvements"
Listing improvements to make in UI/UX based on initial user feedback:

- [x] Return to treating web.archive.org URLs as a special case, and using the extracted URL to act on. (#603)

- [x] When the Search Box isn't empty, use that domain as the URL to act on instead of the web browser's address bar. (#607)

- [x] Add Tooltips to Outlinks and Screenshot options.

- [x] Group Outlinks and Screenshot

[2020-07-07 08:36] tbayer opened #601 "Add-on icon should distinguish between "URL Not Supported" and "This page was never archived""
When the extension icon shows that there are no saved versions of the page, it would be great if it could also indicate whether this is because the page can't be saved or just because it hasn't been saved yet - e.g. by greying out the icon in the "not supported" case.

[2020-07-07 08:58] tbayer opened #602 "Show "R" icon only if relevant resources are actually available for current URL"
The add-on icon is currently displaying an "R" (promising "Relevant Archived Resources") for all URLs on the domains where such resources _might_ be available. The extension should instead check if there is anything available for the given URL, and otherwise not display the "R".
![Wayback add-on  R  icon Screenshot from 2020-07-07](https://user-images.githubusercontent.com/8784934/86752632-5825820

[2020-07-07 20:28] #549 closed

[2020-07-07 21:42] anishsarangi commented on #600
@cgorringe I will take care of the last check box ! Thank you !

[2020-07-08 11:39] #504 closed

[2020-07-08 17:02] anishsarangi commented on #581
The extension is again available in the store !
https://chrome.google.com/webstore/detail/wayback-machine/nbkhjdgdpjdebcniehkeigmdfeiokegh

[2020-07-09 02:41] cgorringe commented on #581
FYI, the new Chrome Store link doesn't have the prior reviews & ratings and has a different ID (meaning it's being treated as a different extension.) We're still trying to get it restored at the old link / ID.

[2020-07-09 07:59] halogeno commented on #581
Did Google deleted the Extension because of political correctness reasons?

[2020-07-09 22:57] cgorringe commented on #581
It was more like they let a bot loose to enforce a permissions policy change, which we didn't get to fixing in time. Although their notice wasn't at all clear on what they expected us to do.

[2020-07-16 04:23] cgorringe opened #610 "Right-click Context Menu doesn't work on Links"
**Describe the bug**
Using the Right-click Context Menu "Wayback Machine" operates on the current page that is open, but not on links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any website.
2. Right-click on a link.
3. Select **Wayback Machine** > **All Versions** (or any menu item)

**Expected behavior**
It should operate on the link's URL, and not on the open page's URL.

**Des

[2020-07-16 06:07] cgorringe commented on #595
**Some Brainstorming on the UI:**
- I was thinking we can call this the "Bulk Save" feature, which can include Bookmarks or any other list of URLs.
- We'd have a new window pop up (like the Resource List).
- It can contain 2 list boxes of URLs, the first is an editable text box of URLs that you'd like to Save. (input box)
- There's a button "Import All Bookmarks" that will populate the first list

[2020-07-16 06:12] cgorringe commented on #595
Or it could be a single list box of URLs, which is initially editable, then no longer editable when user hits "Bulk Save". The URLs are then highlighted and marked with (let's say) checkboxes as each Save completes.

[2020-07-17 09:02] cgorringe opened #615 "Increase delay for SPN status requests"
SPN Status Requests currently 1 every second is too frequent.
In the status response HTTP headers, we have `Retry-After: 6`.

We can either hardcode every 6 seconds, or see if we can follow the HTTP header value.

[2020-07-17 09:20] cgorringe opened #616 "Bugs on Context pages"
Bugs on Context pages:

- [x] Alexa Overview should only work on the domain name. Anything after should be stripped.

- [x] When passing the `url` value on the internal context.html URL, the url needs to be encoded to support `?` characters.

- [x] Check to make sure Wayback Captures Overview works correctly on URLs that are not in the archive, and display an appropriate message. Could hide the us

[2020-07-18 03:17] cgorringe commented on #581
Although the OLD extension IS up on the Chrome Store under a new ID, we are still waiting to restore the old page and ID on the store, after which we'll take down the new page / ID.

[2020-07-18 14:38] weirdalsuperfan commented on #595
It all sounds good to me haha. As a user my main want would be the ability to select/deselect groups of bookmarks at the folder level from the tree, but I think it sounds like that's included already. I also really like the last two bullet points involving using the Availability API.

[2020-07-20 15:11] #615 closed

[2020-07-20 15:13] #610 closed

[2020-07-23 00:43] darthwalsh opened #628 "Chrome Extension web store listing has been removed"
**Describe the bug**
The link to the Chrome Web Store listing 404's

**To Reproduce**
https://chrome.google.com/webstore/detail/wayback-machine/fpnmgdkabkmnadcjpehmlllkndpkmiak

**Expected behavior**
I'd expect the wayback machine extension to activate and show me an archived version of the listing, but the extension has been unexpectedly removed from my chrome browser.

**Additional context**
Did

[2020-07-23 09:12] cgorringe commented on #628
Yeah we know. See #581
We're still working on it. It's slow...

[2020-07-23 09:12] #628 closed

[2020-07-23 15:09] #616 closed

[2020-07-28 04:46] #441 closed

[2020-07-28 18:59] #507 closed

[2020-08-09 07:25] 0zAND1z opened #641 "[404] Broken link to the Google Chrome Extension Page"
The URL to the Chrome extension in the README seems to be broken.

Also, the link to the "Chrome extension" in the  https://web.archive.org/ homepage is broken.

[2020-08-09 20:53] Avi-sa opened #644 "Chrome Web Store link returns error message."
Chrome Web store link not working..

**To Reproduce**
Steps to reproduce the behavior:
1.Go to ' Read me'
2. Click on 'Chrome Web Store'
3. See error

**Expected behavior**
the link should take user to the chrome.

**Desktop (please complete the following information):**
 - OS: [Windows]
 - Browser [chrome]

[2020-08-10 07:31] cgorringe commented on #641
Yeah we know. See #581

[2020-08-10 07:31] #641 closed

[2020-08-10 07:33] cgorringe commented on #644
We know. We're working on restoring the extension on the chrome store. See #581

[2020-08-10 07:33] #644 closed

[2020-08-10 14:53] mitchell-frost commented on #601
Hey! I am new to the project. Can I work on this issue?

[2020-08-10 14:55] mitchell-frost commented on #548
Ca I work on this issue?

[2020-08-10 14:56] mitchell-frost commented on #474
Can I work on this?

[2020-08-11 02:12] tikhsuP commented on #474
Thank you @mitchell-frost for your interest. Yes, you may work on this issue.
We plan to cache the data to reduce the flipping delay. Please feel free to ask if you need any help.

[2020-08-11 02:23] #600 closed

[2020-08-11 14:18] mitchell-frost commented on #474
@tikhsuP I can reproduce the bug but I don't understand the data caching. How am I supposed to achieve that?

[2020-08-12 04:05] tikhsuP commented on #474
You can understand the implementation of data caching by looking into the declaration and usage of the variable [`fact_checked_data`](https://github.com/internetarchive/wayback-machine-chrome/blob/master/webextension/scripts/background.js#L19).

When the **Fact Checks** option in **General** settings is checked, the **Fact Check** feature uses the same concept to fetch and store data (if available

[2020-08-12 04:46] tikhsuP commented on #474
@mitchell-frost, the idea is to fetch and store the data when a page loads. This will make the data available to the extension before the user hovers over the **Save Page Now** button. And there won't be any need to fetch the data on hover, which causes the delay.

[2020-08-12 06:52] cgorringe commented on #581
Wow, this took WAAAY too long, but it's now back to the original link!

[2020-08-12 06:52] #581 closed

[2020-08-12 14:14] mitchell-frost commented on #474
@tikhsuP thank you..I am on it !

[2020-08-13 15:04] #569 closed

[2020-08-13 16:03] mitchell-frost commented on #474
I made a few changes to the background.js file. The save now button still takes some time on some URLs but it has decreased the time a lot. I changed the [ chrome.tabs.onUpdated.addListener( )](url) function and added [updateWaybackCountBadge(tab.id, tab.url)](url) and [factCheckPage(tab.id, tab.url)](url) while the tab is loading as well.

[2020-08-13 16:04] mitchell-frost commented on #474
The code now looks like this:

[code]

Previously the code was:

[code]

[2020-08-17 05:07] #595 closed

[2020-08-19 06:24] Roushangopal commented on #546
I am willing to work on this problem, can i? if it's still open

[2020-08-19 07:07] cgorringe commented on #546
Yes, it's still open and no one is working on it currently!

We use Slack internally to communicate. You're welcome to join by emailing our director mark@archive.org who can get you an invite. Just let him know that you'd like to work on this (include a link to this issue).

Thank you.

[2020-08-27 01:27] cgorringe commented on #475
Perhaps we can do this as a tooltip (i.e. setting the "title" of the button.)

[2020-08-30 07:10] #475 closed

[2020-08-30 07:10] #601 closed

[2020-10-04 12:37] weirdalsuperfan opened #673 "Auto-Update Previously Saved Pages"
**Is your feature request related to a problem/ issue? Please describe.**
So a cryptocurrency I (thankfully) didn't invest in recently exit-scammed, but upon checking their website, which I believe I had visited on my computer, only an old version from before their actual website was up was saved by the wayback machine, so there's little record of them beyond Google's image and search results cach

[2020-10-06 07:15] cgorringe commented on #673
Since we DO have an auto-save feature, but right now it only saves if the page had never been saved before. But since the check for this also returns a timestamp when it was last saved by the Wayback Machine, it wouldn't be that hard to implement. It's just a matter of adding a field to the Settings, or maybe a dropdown box to choose how long ago since the last snapshot. (e.g. "1 month", "1 year")

[2020-10-13 22:01] DuncanDHall opened #674 "Add-on does not load when Firefox set to "Never remember history""
**Describe the bug**
Add-on does not appear in tool bar when Firefox has been set to "Never remember history" (in about:preferences)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to about:preferences in Firefox
2. Set History settings (under Privacy and Security) to "Never remember history"
   (Firefox will require restart)
3. Load Wayback Machine as a temporary plugin (as per [Installi

[2020-10-18 15:54] Purhan commented on #674
Hey there, I believe this is not an issue. When "never remember history" is enabled, firefox is treated as in private mode. From the steps to reproduce you mentioned, one step is missing:

Once that is done, it appears as expected.

![Screenshot from 2020-10-18 21-22-19](https://user-images.githubusercontent.com/10897423/96373139-1f1ab300-1188-11eb-8aa1-44d2dd59b057.png)

[2020-10-19 21:06] DuncanDHall commented on #674
Oh nice! Thanks Purhan.

[2020-10-19 21:06] #674 closed

[2020-10-25 04:38] cgorringe commented on #453
Decided to reopen this due to user feedback.

[2020-10-26 20:40] AdityaKG-169 commented on #453
Hey! I wish to work on this issue if it is still valid. Thanks

[2020-10-27 01:01] cgorringe commented on #453
@AdityaKG-169 Yes, you are welcome to work on this issue! It should be an easy one - good for a first contribution. See notes I wrote above for what to implement.

[2020-10-27 01:07] cgorringe commented on #461
Since we're using that spot now for the Logout button, and we have the extension links in the About page, we'll close this issue now.

[2020-10-27 01:07] #461 closed

[2020-10-27 01:10] #442 closed

[2020-10-27 01:16] cgorringe commented on #453
Oh I forgot there was already a PR #527 but it's outdated now, so you may be able to use some code from that and apply to the latest code.

[2020-10-27 06:08] AdityaKG-169 commented on #453
Yeah sure! Thanks.

[2020-10-27 10:55] AdityaKG-169 commented on #453
Can you please tell me the link that needs to be copied? I am working for the first time on this project, so taking some time to figure things out.

[2020-10-28 11:22] AdityaKG-169 commented on #453
Hi! Please check the PR

[2020-10-28 23:00] cgorringe commented on #453
Thank you @AdityaKG-169 it works great! I'll tweak it a little then merge it.

[2020-10-29 05:51] AdityaKG-169 commented on #453
Great! I can do the necessary changes if you say so?

[2020-10-31 08:00] AdityaKG-169 commented on #453
Any updates regarding my PR?

[2020-11-06 06:53] #453 closed

[2020-11-07 06:57] AdityaKG-169 commented on #505
Hey @cgorringe! I have some suggestions regarding this issue.

The round install icon is for the progressive web apps and not for chrome extensions.

To fulfill the need for a prompt, I can design a modal that shows up on the side of the webpage and will directly install the extension when allowed.

Similar to [this](https://i.stack.imgur.com/pKNHI.png) but smaller and on the side of the page.

[2020-11-07 07:47] cgorringe commented on #505
@AdityaKG-169 That's a good idea. I'll bring it up with the director.

[2020-11-10 01:35] milotype commented on #379
My two cents:
if/when you implement localizations/translations for the extension, I suggest using some online translation system like Weblate, Crowdin, Transifex, … (in the order of my personal preference)

[2020-11-10 04:50] AdityaKG-169 commented on #505
Yeah sure. If the team finds it relevant, I would love to work on this task. @cgorringe

[2020-11-12 16:04] Chaitanya31612 commented on #338
Hi, I would like to work on this one. Can I get assigned for this one?

[2020-11-12 21:41] cgorringe commented on #379
@milotype I was thinking of using a common format such as XLIFF that could be converted to the webextension json format. Thanks for recommending those services! It looks like the first 2 support both XLIFF and the webextension format.

[2020-11-14 01:36] milotype commented on #379
Another one is https://poeditor.com/pricing/
It just depends upon what suits you ...

[2020-11-17 07:29] AdityaKG-169 commented on #505
Any updates? @cgorringe

[2020-12-01 09:04] Melonadev opened #686 "Option to save outlinks and screenshot"
The Wayback Machine's official [online form](https://web.archive.org/save) already has the two options '**Save outlinks**' and '**Save screen shot**' (both circled in red):

![image](https://user-images.githubusercontent.com/66422959/100718879-cf6e0f00-33f6-11eb-99be-5cbffbc62dfd.png)

**Proposed solution**
Add two buttons for the options I mentioned above.

**Additional context**
I noticed in thi

[2020-12-01 10:52] cgorringe commented on #686
@Melonadev - If you install the Latest Build from Github, you'll see we included Outlinks and Screenshot checkboxes below the Save Page Now button. See the screenshots on the README. We should update the app stores soon.

[2020-12-01 10:52] #686 closed

[2020-12-01 11:17] cgorringe commented on #505
The browser extension links have been added to all the archive.org pages as shown here, so we no longer need to add another link along the side. I'll likely close this issue.

![screenshot](https://user-images.githubusercontent.com/604259/100733476-1b7f6c00-3383-11eb-965c-7c356ee11405.png)

[2020-12-01 13:36] Melonadev opened #687 "Failed to load extension in Edge"
I followed the instructions on the README to load unpacked in Microsoft Edge 87.0.664.52 (latest version) on Windows 10 version 1909, and this message shows up:

**Error Manifest file is missing or unreadable**
![image](https://user-images.githubusercontent.com/66422959/100747321-db6cc780-341c-11eb-8d5a-53652083be81.png)

[2020-12-01 23:09] cgorringe commented on #687
@Melonadev Have you tried loading from the `webextension` subdirectory?

[2020-12-02 03:44] Melonadev commented on #687
`webextension` works! Issue's solved.

[2020-12-02 03:44] #687 closed

[2020-12-02 04:13] tikhsuP opened #688 "Show error message when there are no bookmarks to import"
**Describe the bug**
I think it would be a good idea to show an error message when, in the Bulk Save window, the user tries to import bookmarks but doesn't has any saved in the browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Open 'Bulk Save' feature window.
2. Make sure you have no bookmarks saved in the browser.
3. Click on 'Import All Bookmarks' button.
4. See error

**Expected be

[2020-12-02 19:43] crookm opened #689 "Firefox addon is outdated on store"
The extension on the Firefox store appears outdated, showing version 1.8.6. Is this an oversight or is there some reason it can't be updated?

I had a brief look at the latest version loaded in debug shows it seems to be working well.

https://addons.mozilla.org/en-US/firefox/addon/wayback-machine_new/

[2020-12-04 13:58] Melonadev opened #690 "Bulk save feature breaks because extension logs out"
Sometimes when I'm saving multiple pages using the 'Bulk save' feature, at some point it stops working due to it automatically **logging out of Internet Archive**.

![image](https://user-images.githubusercontent.com/66422959/101171863-59c6a500-367b-11eb-9dbf-1bee60285c62.png)

Why does the extension log my account out every 15-30 minutes? Is this because Microsoft Edge is suspicious of the develop

[2020-12-04 21:58] cgorringe commented on #688
Sure we can add an error message. There may be other cases where the browser simply doesn't provide access to bookmarks due to some privacy setting (will have to find out). Feel free to submit a PR if you want!

[2020-12-04 22:00] cgorringe commented on #689
We've just been delayed in submitting to the various app stores. The Firefox one needed an update to the Privacy Policy and some other code tweaks to reduce error messages. It'll be submitted soon.

[2020-12-04 22:12] cgorringe commented on #690
Thanks for catching this bug! I haven't encountered it before, likely because I don't have Edge on my Mac so it gets tested the least on that browser. The code isn't written to auto-logout, so I'm guessing it's something specific to Edge that's causing this.

Another possibility is if you were on the archive.org website and happened to log out there while the Bulk Save was going on, since it uses

[2020-12-05 01:44] Melonadev commented on #690
I'm logged into Internet Archive website on Edge all the time, and I checked that I was still logged into it when this issue occurred.

But every time I start Microsoft Edge, a message pops up at the extension bar, "Disable developer mode extensions", pointing to this extension. Does this occur in other browsers as well?

[2020-12-05 15:01] Melonadev opened #691 "Option to save further outlinks of each url in Bulk save"
The extension itself already supports archiving outlinks of a webpage the user is visiting. So why not also do that for each url in Bulk save?

Example: [Madness Serial](https://madnessserial.com) is a website that offers free e-books, some of which are editions of existing public domain books.

Take this page for [Moby Dick](https://madnessserial.com/mdash/moby-dick-herman-melville). Here're the

[2020-12-06 21:34] andrizmitnick commented on #690
btw this issue also happens on chrome canary

[2020-12-07 06:11] cgorringe commented on #691
Thanks for the suggestion! Yes we can add the Outlinks and Screenshot options to Bulk Save. (although Outlinks will slow it down a bit.)

[2020-12-07 12:34] Melonadev commented on #691
Exploring this idea further, let's say that the url list is like this:

**url 1** (outlinks are **url 2** & **url 3**)
**url 2** (outlink is **url 3**)
**url 3** (outlinks are **url 1** & **url 4**)
**url 4**
**url 5**

How about adding a _time-saving option_ (maybe make this the default?) where, instead of saving every single outlink for each url without checking it's been saved already in the sa

[2020-12-08 07:20] cgorringe commented on #691
Interesting idea!

Although the extension doesn't do the parsing out of the outlinks. It's done on the server side, which will return a list of outlinks when calling the Status API while it's processing a Save call. This means I can't just _skip_ saving a URL but then continue to detect its outlinks.

In the case where let's say **url2** was was saved previously as an outlink of **url1**, when the

[2020-12-11 20:51] anishsarangi commented on #474
The issue has been solved in #692 .
Thank you !

[2020-12-11 20:51] #474 closed

[2020-12-17 01:17] cgorringe commented on #546
To add to this feature idea, quoting this [Tweet ](https://twitter.com/mekarpeles/status/1338769557595463680) by @mekarpeles:

I think this would be a neat feature to be able to auto-save websites that you visit to the local filesystem, which can be viewed later offline. Could be implemented using WARC files?

[2020-12-28 09:08] somya339 commented on #379
I think it's rather easy to implement this feature in a chrome extension.
we can easily detect the language in which the chrome is currently operating .
example : In Javascript
                var lan  = window.navigator.language;
now we can make an API call to get the text in the drop down menu converted to the current language.
Hope this will help.

[2020-12-31 02:41] krackers commented on #690
I'm seeing this as well. I think some of the warnings are spurious because the extension shows the "looks like you aren't logged in" on any error, even if the underlying error isn't due to that. For instance, when calling the /status endpoint if IA return with "error:job-failed" then that will propagate up and cause the message to be displayed.

[2020-12-31 02:45] krackers opened #696 "Add rate limiting for wmAvailabilityCheck in bulk save"
**Describe the bug**
In bulk save, if you pass in a list of URLs and have "only archive never saved" ticked, it's possible to run into rate-limiting errors from the availability check.

**To Reproduce**
Steps to reproduce the behavior:
Go to bulk save, paste in a list of ~100 URLs that are already archived, tick the "only archive never saved." In dev tools you will see 429 response which isn't han

[2020-12-31 06:01] cgorringe commented on #696
Thanks for testing and catching this bug!

[2020-12-31 08:31] cgorringe commented on #690
Thanks everyone for testing and reporting this bug! Looks like we may need to better check for errors and pause the bulk saving so they don't cascade.

[2021-01-04 20:36] sarthakkundra opened #697 "Adding continuous Integration"
**Is your feature request related to a problem/ issue? Please describe.**
Add a Github action for continuous integration. The extension has a fairly elaborate set of tests I believe adding a CI action will help make the process of PR review easy for the maintainers.

**Describe the solution you'd like**
Adding a Github action

**Describe alternatives you've considered**
Travis CI or Circle CI

**A

[2021-01-05 09:14] cgorringe commented on #697
I think it's a good idea. The automated tests only really cover a small fraction of the codebase so PR review might only be slightly improved. I've also got some manual tests that I do that I'm planning to document, which may be suitable to be automated later. I'd say it couldn't hurt!

There is one error that occurs during automated tests ("getUrlByParameter is not defined") but it still reports

[2021-01-05 20:05] hisaac commented on #580
Hi @cgorringe. I'm a macOS developer, and I'm wanting to learn about Safari Web Extensions. I haven't built one before, but maybe I could help out with this? Anything I could work on?

[2021-01-06 03:55] cgorringe commented on #580
Hi @hisaac Thanks for your interest!

Prior to Safari 14, one would create a Safari extension using Swift or ObjC like a macOS app. The one currently on the app store is such a native app, and the source is currently located here (which will be moved in the future): https://github.com/cgorringe/wayback-machine-safari-app

With Safari 14, it now supports the WebExtension standard used in other brow

[2021-01-06 05:35] sarthakkundra commented on #697
@cgorringe I can make a PR for the action. As far as the failing test is considered I'll take a look on that too.

Apart from that are there any beginner friendly issues that can help me get familiarised with the codebase? I think writing some more tests can do that, if that's something you're interested in.

[2021-01-06 14:08] hisaac commented on #580
Thanks for the info and the resources @cgorringe!

[2021-01-07 07:36] sarthakkundra commented on #546
@cgorringe

Maybe a session storage list of all the visited websites? Although those will be links or do you want the whole web page to be stored?

[2021-01-07 10:16] cgorringe commented on #546
Yeah I was thinking actual whole web pages stored locally. A list of visited websites can already be accomplished by not clearing the browser's history.

[2021-01-07 19:22] sarthakkundra commented on #546
@cgorringe session storage will only allow 5 MBs won't that be less for the required task?

[2021-01-07 20:59] cgorringe commented on #546
@sarthakkundra Yeah 5 MBs is way too small for this.

This "File System Access API" appears to be new. I couldn't tell if there were file size restrictions. Haven't tried it and don't know what / if any browser supports it yet.
https://developer.mozilla.org/en-US/docs/Web/API/File_System_Access_API
https://web.dev/file-system-access/

[2021-01-08 03:18] sarthakkundra commented on #546
@cgorringe this looks interesting. I'll have a look. Meanwhile is there a Slack, Gitter, IRC channel etc that the community uses for communication or everything happens on Github only? I'd love to join if there's one to discuss other ideas as well

[2021-01-08 09:52] sarthakkundra opened #699 "Site Map returns a 504"
**Describe the bug**
The site map feature seems to error out for websites with a lot of archived data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [facebook](https://www.facebook.com/)
2. Click on the extension
3. Click on Site Map
4. See error

**Expected behavior**
Either the extension shows a site map or an error message after n seconds stating "it took too long" or something si

[2021-01-08 09:57] sarthakkundra commented on #696
Can anyone tell me how do I access the bulk save feature? This seems like an easy fix but I can't seem to find the feature. Although I found the code

[2021-01-08 23:52] krackers commented on #696
@sarthakkundra I don't think the version of the extension published in the chrome store has it yet.

[2021-01-09 07:15] sarthakkundra commented on #696
@krackers Thanks for the pointer. Where I can get the dev version from? Also how do I start it from the code? I don't see a `run` , `dev` script etc.

[2021-01-11 00:31] anishsarangi commented on #696
Hi @sarthakkundra . Please follow the instruction in https://github.com/internetarchive/wayback-machine-webextension#wayback-machine-web-browser-extension to install the extension in your local machine. You can start with https://github.com/internetarchive/wayback-machine-webextension/blob/master/webextension/index.html which the popup page of the extension.

[2021-01-11 07:11] cgorringe commented on #699
I think it does take a long time on large popular websites.
The Site Map is not actually in the scope of this codebase, but thanks for letting us know!
I think it was previously reported here: https://github.com/internetarchive/wayback-radial-tree/issues/34

[2021-01-11 11:14] sarthakkundra commented on #696
@anishsarangi thanks for the help. Is there any IRC channel, Slack etc where I can get added to continue the conversation? I have some ideas for the extension I'd like to share.

[2021-01-11 18:39] sarthakkundra commented on #696
@anishsarangi I launched the `index.html` file with a live server but it seems to be unresponsive. Any idea what could be going wrong?
CC :- @cgorringe

https://user-images.githubusercontent.com/52133994/104223959-538dca80-546a-11eb-9255-60d48cc196ca.mov

[2021-01-11 18:49] anishsarangi commented on #696
@sarthakkundra please follow the instructions here https://github.com/internetarchive/wayback-machine-webextension#installing-the-extension to install the extension in your local browser

[2021-01-11 22:59] cgorringe commented on #696
@sarthakkundra The extension shouldn't be viewed using a web server, but loaded as an extension from the browser. Simply follow the directions in the README under "Installing the Latest Build"

[2021-01-12 05:31] sarthakkundra commented on #699
@cgorringe It's the same issue. Thanks for the redirect.

[2021-01-12 05:32] sarthakkundra commented on #696
@cgorringe @anishsarangi  Thanks for the help. I was looking at installing the extension in the docs rather than installing the latest build.  👍🏻

[2021-01-12 05:34] sarthakkundra commented on #697
@cgorringe Can you merge the PR if there are no issues or if there are any do let me know.

[2021-01-12 10:39] sarthakkundra commented on #696
@cgorringe What limit should I set for the number of URLs allowed?

[2021-01-16 10:50] anishsarangi commented on #690
Thanks everyone for reporting this bug. I will look into this. Thank you !

[2021-01-23 21:16] anishsarangi commented on #696
@sarthakkundra You can set the limit to 30 for now ! Thank you.

[2021-01-24 07:38] krackers commented on #696
Alternatively instead of a fixed limit I think from a user-standpoint it would be better to allow an unbounded size but just ensure that the qps is kept low enough to avoid hitting the rate limit. A limit of 30 seems restrictively low considering that there are many legitimate uses for batch-archiving an entire site directory. If you wanted to be even more considerate of server load you could have

[2021-01-24 09:19] anishsarangi commented on #696
Thanks @krackers . I agree to the point. We are thinking of handling this from the server side e.g instead of calling multiple requests in a short time, we can pass all URLs in a single request. Limiting the user while adding url is not a good idea

[2021-01-24 11:40] sarthakkundra commented on #696
I can write a delay function. Something along the lines of `setTimeOut`. How does that sound? @krackers @anishsarangi

[2021-01-27 13:52] Melonadev opened #702 "Option to save ONLY outlinks but not the actual current page"
For when a web page has already been archived (especially minutes before already), but its outlinks aren't yet.

[2021-01-27 18:38] sarthakkundra commented on #696
@krackers Getting this error on unpacking the extension. Did something happen with the latest commit? Seemed to work perfectly fine before.
<img width="1440" alt="Screenshot 2021-01-28 at 12 06 19 AM" src="https://user-images.githubusercontent.com/52133994/106037563-df575600-60fc-11eb-9064-cbd0415b59ba.png">

[2021-01-30 05:37] krackers commented on #696
@sarthakkundra No idea I'm not actually involved with internet archive at all. Last commit to `background.js` was 25 days ago so I don't think anything changed there. The code in question seems fine to me since within the scope of the callback `result` should definitely be bound. Maybe step through with a debugger?

[2021-02-03 19:21] anishsarangi commented on #696
Hi @sarthakkundra. I tried to replicate this, but did't get such errors. I also didn't find any issue with the last commit.
Which browser / OS are you using ?
Thank you for reporting this. Please create a new issue describing it ! Thank you .

[2021-02-10 09:30] the-pro opened #703 "Specific error message for fact checks"
When clicking on fact check button if some network error occurs it still says:
`No fact checks found for the current URL.`
which is inappropriate.
We could add a  different error message for when such problem occurs

[2021-02-10 21:57] sarthakkundra opened #704 "Latest master branch clone not getting unpacked"
**Describe the bug**
Unpacking the latest clone (master) of the Wayback-machine-webextention in Google Chrome extensions is giving multiple errors in scripts/background.js .

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository.
2. Go to `chrome://extensions/`
3. Switch on developer mode
4. Click on `Load Unpacked`.
5. Select the `webextension` directory inside the root.

**Ex

[2021-02-10 22:00] sarthakkundra commented on #696
Hi @anishsarangi . I think I missed the notification, sorry for the delayed response. I have opened an issue at #704 . Let me know if anything else is needed. Thanks!

[2021-02-12 08:36] dwaipayan05 commented on #703
Can we add a try catch block to get ahold of the network error ?

[2021-02-12 08:45] anishsarangi commented on #703
Thank you @the-pro for reporting this. Please feel free to submit a PR resolving this issue.

[2021-02-12 10:46] the-pro commented on #703
Yes sir @anishsarangi . I have done a few changes to the code to get a different message for the network errors.

[2021-02-19 20:20] Yashraj1406 commented on #688
@cgorringe please assign me this issue, I would like to work on it

[2021-02-19 21:19] cgorringe commented on #688
OK @Yashraj1406 you're welcome to work on this issue!

[2021-02-23 05:40] the-pro opened #708 "Timeout for Alexa Internet"
### Problem

- When ```Alexa Internet```  is clicked for Website Rankings with slow internet, it keeps on loading the page until the page is closed.
- It also shows the loading status if the internet is completely disconnected.

![alexa](https://user-images.githubusercontent.com/42973786/108806347-7530b480-75c7-11eb-8e6c-1e0691f86030.png)

### Solution

We could add a timeout feature so that it  c

[2021-02-24 08:59] s-crypt commented on #689
Are there any updates to this situation?

[2021-02-24 09:23] s-crypt opened #709 "Blacklist for Auto-Save"
**Is your feature request related to a problem/ issue? Please describe.**

- There needs to be a blacklist to exclude auto saving sites. _**Private URLs and searches**_ can spam the WBM.

**Describe the solution you'd like**

- An implemented blacklist that has both defaults (like search engines. There is already a basic list [here](https://github.com/kissarat/never-lose/tree/master/chrome/list) a

[2021-02-27 08:03] jayantchaudhary002 opened #711 "White empty div at the top when the extension is closed"
**Describe the bug**
->A white empty div at the top when you open any page using the extension and the press the cross icon on the top right.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Any website' and open the the website with wayback machine extension.
2. Click on 'cross' at the top right corner.
4. See error

**Expected behavior**
Solution could be to remove the div completely

[2021-02-28 02:13] Ishan-Saini commented on #688
Hey, @cgorringe @tikhsuP  Is this issue still being worked upon?

[2021-03-01 03:49] mgrandi commented on #689
I too would like to see this fixed

[2021-03-22 21:48] pbarney commented on #689
How can we package this up to side-load it?

[2021-03-26 06:15] Yashraj1406 commented on #691
@cgorringe please assign me this issue, I would like to work on this

[2021-03-28 04:25] taxen opened #715 ""Fail with status: 498 No Reason Phrase" response using Overview"
I am using on Waterfox 2021.02 (64bit), Windows 10 (64bit, Home ed. ver. 1909 build 1863.1440) with no other addon (for testing purpose).
When trying to use Overview from the menu, it always returns "Fail with status: 498 No Reason Phrase" error.
It shows Retry button, but pushing the button area does not do a thing.
![498error](https://user-images.githubusercontent.com/3875423/112742478-e64df800-

[2021-03-28 05:48] taxen commented on #715
Solved!

Thanks to [https://news.ycombinator.com/item?id=26312317](url), changing [Option]->[Privacy] Suppress HTTP Referrer Header from either "Never send the referrer header" or "Send the referrer header only when clicking on links and similar elements" to "Send the referrer header on all requests (Default)" solved the problem. Or you can just change network.http.sendRefererHeader to 2 on about:

[2021-03-28 05:49] taxen commented on #715
Forgot to close.

[2021-03-28 05:49] #715 closed

[2021-04-01 00:04] #602 closed

[2021-04-01 04:23] cgorringe opened #718 "Show Cited Papers button when there are papers but No Books"
**Describe the bug**

While testing Wikipedia Resources, if there are No Books (e.g. ISBN IDs) on the page, but there are Papers (e.g. "doi:" IDs) on a Wikipedia page, the 'R' icon will not show, and as a result the 'Cited Papers' button will not display.

**To Reproduce**

Example page where there should be Cited Papers, but No Books.
https://en.wikipedia.org/wiki/Perseverance_(rover)

**Expected

[2021-04-01 05:44] #708 closed

[2021-04-01 09:06] cgorringe commented on #703
Thanks!

[2021-04-01 09:06] #703 closed

[2021-04-01 09:17] cgorringe commented on #688
This issue was fixed in PR #707. Thanks @Yashraj1406 !

[2021-04-01 09:17] #688 closed

[2021-04-05 01:45] cgorringe opened #720 "Redirect to Wayback Machine if Domain Doesn't Exist"
**Describe the bug**
If going to a domain that no longer exists, would like to automatically go to the Wayback Machine's version of that page, similar to what happens with 404 errors.

**To Reproduce**
Try this page:
https://thekindlyones.org/2010/10/13/refusing-to-look-through-galileos-telescope/

**Expected behavior**
Redirect to this page:
https://web.archive.org/web/20160829064012/https://thek

[2021-04-05 05:20] #697 closed

[2021-04-06 05:07] MusarratUA opened #721 "TechMobile"
{"url": "https://www.techmobile.com", "archived_snapshots": {"closest": {"status": "200", "available": true, "url": "http://web.archive.org/web/20180729004308/https://www.techmobile.com/", "timestamp": "20180729004308"}}} <!DOCTYPE html>
<html lang='en'>
<head>
<title>
Calendly - TECHMOBILE.COM
</title>
<meta charset='utf-8'>
<script>window.NREUM||(NREUM={});NREUM.info={"beacon":"bam-cell.nr-data.

[2021-04-06 05:35] #721 closed

[2021-04-06 05:53] cgorringe commented on #711
I can confirm this bug. Thanks for the report. Since it's on the website and not part of the extension code, labeling this a "redirect"

[2021-04-06 06:09] cgorringe commented on #709
This is a good point, particularly while using search engines and the `?utm_source` or that one that facebook uses.

[2021-04-06 07:04] s-crypt commented on #709
The [ClearURL extension](https://github.com/ClearURLs/Addon/) project actually has a list of regex matches to detect and make clean URLs.
https://docs.clearurls.xyz/latest/specs/rules/
https://rules2.clearurls.xyz/data.minify.json

[2021-04-06 08:10] cgorringe commented on #709
@s-crypt Thanks for the info!

[2021-04-06 08:30] cgorringe opened #722 "Implement ClearURLs and add to Settings"
ClearURLs is a set of rules to strip URLs of tracking elements from known websites. This would help protect the user's privacy.

We'd like to add this to General Settings ("Clear URLs") which when checked, then whenever Save Page Now APIs are called, or any other function such as Oldest, Overview, Newest, Fact Check, Annotations, Tweets, or automatic calls to Wayback Machine Count, Auto Save Page,

[2021-04-06 08:34] cgorringe commented on #709
@s-crypt Really appreciate the suggestion and info on ClearURLs! I've created a new feature request at #722 - Thanks!

[2021-04-06 09:07] cgorringe commented on #696
There's an option in the SPN2 API (web.archive.org/save) which is `if_not_archived_within=<timedelta>` where *timedelta* can be a datetime expression like "3d 5h 20m" or a number of seconds, e.g. "120". If there is a capture within the defined timedelta, SPN2 returns that as a recent capture. The default is 10 min. If we could use a timedelta of *forever* (don't know yet what value to put here) th

[2021-04-06 20:21] s-crypt commented on #722
Just a note that this would _massively_ decrease the amount of unique urls sent to the wayback machine

[2021-04-06 22:35] cgorringe commented on #722
It's a good idea! Thanks for letting us know.

[2021-04-09 08:37] cgorringe commented on #704
Although it works fine on my system, there may still be a bug here.
It looks like there's an issue reading from the Storage API using chrome.storage.local.get()

[code]

Looks like the `event` object is undefined.

Writing this down for future reference.
chrome.storage API:
https://developer.chrome.com/docs/extensions/reference/storage/

[2021-04-09 08:50] cgorringe commented on #704
The fix should be to take all calls to `chrome.storage.local.get({ ... }, (result) => {` and check that `result` exists before accessing a property from it. It looks like this check was forgotten in numerous places.

[2021-04-09 09:06] #720 closed

[2021-04-10 10:00] crew-guy opened #726 "GSoC 2021 Proposal"
**Respected Recipient,**

I am Ankit Sanghvi, a 19 year old **full stack developer** from India. I have been programming in this domain for over a year now and wish to contribute back to the community.  🚀

I have been an avid user of this amazing software and have really learnt a lot not only from the books I borrowed, but from your constant **relentlessness** to make education and information ava

[2021-04-11 03:25] #338 closed

[2021-04-11 06:59] cgorringe commented on #690
This is likely fixed now, but could be tested to make sure.

[2021-04-11 07:10] #505 closed

[2021-04-12 09:15] Melonadev opened #729 "Bulk Save doesn't archive links containing special characters"
Examples of links with entirely 'normal' Unicode characters in the English language:

- https://www.bravovail.org/tickets-performances/2018/orchestra-concerts/dallas-symphony-orchestra/
- https://www.bravovail.org/tickets-performances/2018/orchestra-concerts/dallas-symphony-orchestra/women-rock/
- https://www.bravovail.org/tickets-performances/2018/orchestra-concerts/dallas-symphony-orchestra/tcha

[2021-04-12 13:01] mekarpeles commented on #726
Replied here: https://github.com/internetarchive/iaux/issues/543

[2021-04-12 13:01] #726 closed

[2021-04-13 06:03] cgorringe commented on #729
Thanks for catching this!

Upon investigation testing this on Chrome, I discovered that entering the URLs containing Unicode manually and tapping "Add URLs" works OK. But when I loaded one of them in the browser, save as a bookmark, then "Import All Bookmarks", the URL added to the list is %-encoded. Opening Chrome's Bookmark Manager, I found that Chrome stores the URL as %-encoded! So clearly Chr

[2021-04-13 13:05] Melonadev opened #731 "Option to allow users to 'pause' and 'resume' operations in Bulk Save"
Occasionally in Bulk Save, particularly around a hundred URLs into the list, the archival operations seem to slow down, as some URLs are stuck in yellow (or red even) for a very long period of time. There was one time I tried opening up the [Wayback Machine site](https://web.archive.org/save) during the slowdown, and it just returns a 403 error resulting from "Too Many Requests".

White tick in a

[2021-04-13 13:16] Melonadev opened #732 "Red cross icon doesn't work when sandwiched between green tick icons"
As mentioned in #731:

...but it strangely doesn't work (nothing happens when I press it) when sandwiched between successfully archived URLs:
![image](https://user-images.githubusercontent.com/66422959/114558637-77e18900-9c9d-11eb-81cf-62e1aa62d9de.png)

[2021-04-15 23:20] cgorringe commented on #729
Fixed!

[2021-04-15 23:20] #729 closed

[2021-04-16 01:24] cgorringe commented on #732
Strangely, none of the 'X' icons should take any action when clicked after the save process begins.

[2021-04-16 02:30] Melonadev commented on #732
Oops, my bad. Closing this issue now.

[2021-04-16 02:30] #732 closed

[2021-04-16 03:35] cgorringe commented on #731
I'm not sure yet if pausing would work, but there are a lot of URLs getting stuck where they timeout and this needs to be fixed.

[2021-04-17 21:41] #279 closed

[2021-04-17 22:03] #696 closed

[2021-04-18 17:18] anishsarangi opened #736 "Error occurs during automated tests"
**Describe the bug**
There is one error that occurs during automated tests `Error: Uncaught [ReferenceError: getUrlByParameter is not defined]`, but it still reports all 138 tests passing.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm test`
2. See error

**Expected behavior**
There shouldn't be any error while running `npm test`

[2021-04-19 00:09] #704 closed

[2021-04-19 10:45] #736 closed

[2021-04-20 23:42] cgorringe opened #739 "Accessibility"
Right now the web extension isn't designed with Accessibility in mind. That could mean screen readers, but also haven't been tested for color blindness, larger font sizes, and maybe there are other issues which you could help to research!

Here's some links to get started:

Practical accessibility, part 1: Markup semantics & ARIA
https://www.filamentgroup.com/lab/practical-accessibility-1-semantic

[2021-04-21 01:14] cgorringe opened #740 "Firefox Compatibility"
**Describe the bug**

Firefox has some incompatibilities with Chrome extensions, which is causing errors which are reported in the background page's console log. (see below)

**List of items to check**

- [ ] Replace `chrome.runtime.lastError` with a Promise rejection handler??
- [ ] URLs passed to `.tabs.executeScript()` and `.tabs.insertCSS()` must start at extension's root, e.g. `/path/to/scrip

[2021-04-26 12:59] Melonadev opened #741 "'Save only URLs that have never been archived' stops after 50 (or 25) consecutive urls or less"
Enabling 'Save only URLs that have never been archived' in Bulk Save allows only unarchived links to be archived, while others get skipped over (as indicated by a green-square-with-a-white-dot-in-the-middle logo next to the links)

In cases of more than 50 consecutive already-archived links in the beginning (for example [diem.txt](https://github.com/internetarchive/wayback-machine-webextension/fil

[2021-04-28 04:28] cgorringe opened #743 "Copy Archived Links after Bulk Save"
**Is your feature request related to a problem/ issue? Please describe.**

In Bulk Save, we'd like a way to copy the Wayback Machine's URLs of the URLs that were just archived.

**Describe the solution you'd like**

2 Solutions:
1. Add a little button containing a link icon next to each URL, after it's been archived (green), that when clicked will copy a link to the Wayback's version of that saved

[2021-04-30 13:47] Melonadev commented on #743
I'd also like the option 'Copy Unarchived/Unsaved Links' in case the Bulk Save feature stops working and I have to open up a new Bulk Save session/tab to continue archiving the remaining links.

[2021-05-05 04:47] cgorringe commented on #709
Adding some notes on terminology for future reference:
- avoid: black / white.
- use: exclude, block, reject, minus.
- use: include, allow, permit, plus, safe.

"whitelist to exclude auto saving sites" actually sounds like the opposite. Maybe we can call this an "Exclude URL Patterns" list of regex's, or how about "Filtered URL Patterns".

[2021-05-05 04:59] s-crypt commented on #709
Sorry, I mixed up blacklist and whitelist when I originally wrote this

[2021-05-06 10:15] Melonadev commented on #741
Probably related:

[2021-05-06 10:33] Melonadev opened #746 "Option to save only URLs that have not been archived for a specific amount of time"
At the bottom of a Bulk Save window are these two options:

![image](https://user-images.githubusercontent.com/66422959/117282745-ab2bc800-ae97-11eb-9c25-82b8071a3653.png)

'Save only URLs that have never been archived.'
'Save Screenshots.'

I'd like a third option there to '**Save only URLs last archived in** [insert year, month, and date] **or earlier**'.

For example, I know that some of the UR

[2021-05-07 03:04] Melonadev commented on #746
In fact, here's a better suggestion I just thought of. Let's change it to:

'Save only URLs last archived in [insert year, month, and date] or earlier'

[2021-05-09 14:58] weirdalsuperfan commented on #709
I WANT THIS!!!

[2021-05-18 12:02] rahulroy9202 opened #747 "Page not available Page displayed unexpectedly: Firefox"
**Describe the bug**
On Firefox it sometimes displays this page not available message on working and available pages.

![image](https://user-images.githubusercontent.com/3462467/118646589-021d8f80-b7fe-11eb-9354-3dba4ae0420c.png)

If you are to check the reviews, it becomes very apparent that a lot of users are facing this issue.
https://addons.mozilla.org/en-US/firefox/addon/wayback-machine_new/r

[2021-05-18 21:37] anishsarangi opened #748 "False 404 popup"
**Describe the bug**
Sometimes, the 404 popup is showing on a non-404 URL.

<img width="1427" alt="Screenshot 2021-05-17 at 11 55 50 PM" src="https://user-images.githubusercontent.com/15776213/118726293-bba45100-b84e-11eb-8eb5-437141a2cd8e.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.creativebloq.com/web-design/best-404-pages-812505
2. Click on any sample 404 URL o

[2021-05-18 21:42] anishsarangi commented on #747
Hi @rahulroy9202 . Thank you for reporting this bug. We are facing the same issue in the current version of extension also.
I have created a new issue #748 addressing that.

[2021-05-18 22:44] cgorringe commented on #748
Verified bug occurs in Chrome.

Instead of using the above link (which loads up a ton in the background) you can go here:
https://github.com/internetarchive/wayback-machine-webextension/blob/master/TESTING_GUIDE.md

Then right-click one of the 404 links > "Open Link in New Tab", which in *my* browser will open the tab *behind* while remaining on the current page. This causes the 404 banner to disp

[2021-05-18 22:46] cgorringe commented on #748
Also this error in `archive.js` line ~ 1:
`Uncaught SyntaxError: Identifier 'gCloseClicked' has already been declared`

[2021-05-18 22:55] cgorringe commented on #747
We really need to update the old version on the store. The latest version on Github shouldn't have this issue. The bug reported for #748 is related but different issue that only occurs while loading 404 pages within a background tab. Please try out the version on Github in the meantime while we update the version on the Firefox store!

[2021-05-18 23:06] cgorringe opened #749 "Auto-Save New Bookmarks"
This is an enhancement to the existing Auto Save feature, where an option is added to Auto Save whenever a user saves a bookmark. Perhaps add a checkbox in Settings.

Idea from @vbanos - thanks!

[2021-05-18 23:11] cgorringe commented on #749
See also #673 Auto-Update Previously Saved Pages.

[2021-05-18 23:15] cgorringe commented on #746
Good idea!

[2021-05-18 23:24] cgorringe commented on #741
Thanks for reporting this!

Also somewhat related to #731

[2021-05-19 02:35] anishsarangi commented on #748
The issue is also happening in firefox version.

<img width="1245" alt="Screenshot 2021-05-19 at 7 59 12 AM" src="https://user-images.githubusercontent.com/15776213/118748115-e1dee680-b878-11eb-8d9a-3f4f8d63e4cb.png">

[2021-05-19 02:37] anishsarangi commented on #749
Some resource:
https://developer.chrome.com/docs/extensions/reference/bookmarks/#event-onCreated

[2021-06-07 15:46] #748 closed

[2021-06-09 07:26] cgorringe opened #752 "Port Extension to iOS Safari"
Apple just announced at WWDC'21 that upcoming Safari in iOS will have support for Web Extensions!

Here's a link to the WWDC session on this:
https://developer.apple.com/videos/play/wwdc2021/10104/

It'll take some UI changes and likely some in the background script. Not as easy as the video makes you think! :-)

[2021-06-09 11:58] rahulroy9202 commented on #747
Is there any expected date for publishing the new version to for Firefox? Thank You

[2021-06-10 19:40] cgorringe commented on #752
Another useful video:
Explore Safari Web Extension improvements
https://developer.apple.com/videos/play/wwdc2021/10027

[2021-06-10 19:41] cgorringe commented on #580
WWDC 2021 video
Explore Safari Web Extension improvements
https://developer.apple.com/videos/play/wwdc2021/10027

[2021-06-16 01:14] contextnerror commented on #690
I haven't been trying to use bulk save, but I've also been noticing the extension seems to be logging me out for no reason after a certain amount of time. I don't know exactly how long since I only ever notice when I open it up and save page now is suddenly greyed out. This is happening in the latest version of google chrome.

[2021-06-16 04:17] Melonadev commented on #690
The latest version (currently) is fully functional, and it doesn't even ask me to log in at all.

[2021-06-21 08:54] Melonadev opened #754 "A 'Restart with unarchived/remaining links' button or an automated option like this in Bulk Save"
This is meant to address the issue mentioned in issue #741, where Bulk Save (specifically saving links that have never been saved before) stops archiving when it passes through around 25 already-saved links in a row.

My suggested feature can probably be implemented by putting a button next to the red 'Archiving URLS' progress bar. That button, when clicked by the user, should effectively reset th

[2021-06-21 17:38] cgorringe commented on #754
I suspect once we determine why #741 occurs and fix it, then this idea wouldn't be needed.

A slight change to this I'd like to suggest, is to let the user Stop / Pause / Cancel archiving and return back later with the remaining list of URLs that hadn't been archived. Either 1. provide a button, that when clicked, would copy the remaining list to the clipboard for the user to save, 2. save a text

[2021-06-25 07:19] Melonadev opened #755 "Miscount (wrong number) of Saved URLs after Bulk Save is completed"
In a mostly successful Bulk Save session of 167 links, one of the links is skipped over, yet it says there are 169 'saved' links:

 ![image](https://user-images.githubusercontent.com/66422959/123385580-46a00600-d5c8-11eb-889f-6fd7d6a355b0.png)

[2021-06-26 10:27] Melonadev commented on #755
And in this case, where Bulk Save completed successfully, but counts 100 saved URLs as 101:

![image](https://user-images.githubusercontent.com/66422959/123510111-33666680-d6ac-11eb-9800-647a1039b3d9.png)

[2021-06-27 05:10] Melonadev commented on #755
And in more egregious cases like this, where it miscounts 99 completed URLs as 103.

Maybe it's because, for example, 'Saved' considers those two links separate/different, while 'Total' counts them as one?
[code]

![image](https://user-images.githubusercontent.com/66422959/123533453-4af32d00-d748-11eb-813c-36b5884fe912.png)

[2021-07-23 02:35] weirdalsuperfan commented on #746
See also #673

[2021-07-23 02:37] weirdalsuperfan commented on #709
Forgot I already posted on this, but just coming back again to see if this feature has been implemented (guess not) and to reiterate that I really want this, for things like gmail and facebook especially.

[2021-08-02 06:26] unbeatable-101 opened #756 "The add-on causes Wikipedia to resize on Firefox"
**Describe the bug**
If you have the add-on enabled, it causes Wikipedia to resize after you load the site

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://en.wikipedia.org
2. Look for the page resizing
3. Disable the add-on from `about:addons`
4. Reload the page again and see it doesn't resize

**Expected behaviour**
The page doesn't resize

**Videos**

https://user-images.git

[2021-08-05 07:08] cgorringe commented on #756
Bug tested and verified to occur on Wikipedia using latest webextension (3.0) on both Chrome and Firefox.

On Firefox: Just like in the video, clicking Reload would increase the font size on the page briefly, then immediately go back to default font size. Doesn't do this when the extension is unloaded.

On Chrome: Shrinks the page's font size permanently when on. Turn off the extension, goes back

[2021-08-05 07:10] cgorringe commented on #755
Thanks for reporting this!
will investigate

[2021-08-05 19:43] AlexanderRitter02 opened #757 "Add a legend that explains symbols to Bulk Save"
**Is your feature request related to a problem/ issue? Please describe.**
_In the Bulk Save window:_ The user is confused by the icons used for marking urls as complete, pending etc.
He may not know their meanings.
This is especially problematic with this specific icon (<img src=https://user-images.githubusercontent.com/42546705/128410242-4e3efe83-cfec-458a-a027-5b5326306107.png height=20></img>),

[2021-08-06 02:12] cgorringe commented on #757
Good idea!

[2021-08-07 08:56] #718 closed

[2021-08-28 03:36] Melonadev opened #760 "Extension broken after update #758"
After update #758 (three days ago), both the Wayback Machine Count and Bulk Save functions don't even work.

[2021-08-28 04:27] cgorringe commented on #760
Thanks @Melonadev the API server is down today. I've contacted the server folks to get it back up.

[2021-08-31 00:42] #743 closed

[2021-08-31 08:25] #699 closed

[2021-09-03 08:21] #757 closed

[2021-09-04 05:25] #746 closed

[2021-09-08 12:10] Melonadev opened #766 "Bulk Save window crashes"
Browser: Firefox 92.0 (64-bit)

**Steps to reproduce**
1. Click on 'Bulk Save'. A Bulk Save window will pop up:

![image](https://user-images.githubusercontent.com/66422959/132506603-45708566-3d79-4057-97ad-d6b4efb9af33.png)

2. Wait for a few seconds if needed.
3. The window transforms into this, despite me not having entered any URLs:

![image](https://user-images.githubusercontent.com/66422959/

[2021-09-09 02:12] cgorringe commented on #766
Should be fixed now.

[2021-09-09 02:12] #766 closed

[2021-09-09 06:45] cgorringe opened #769 "Safari 14 bugs"
Bugs remaining in the Safari 14 port:

- [x] SPN flip button backside text visible.
- [x] Popup buttons and Settings hover glitches.
- [x] Replace 404s, etc broken.
- [x] Clicking links in "Show Resources During Save" and Bulk Save windows opens link in the same window instead of main browser window.
- [x] Feedback link in popup points to iOS app on App Store instead of Safari extension.

[2021-09-16 05:08] #769 closed

[2021-09-16 05:15] cgorringe commented on #756
Figured out why this occurs is due to **style.css** being inserted into Wikipedia pages due to `manifest.json`. Fix would be to only include minimum necessary for the icon popups that are embedded in the page. **style.css** is a massive file. Don't need all that.

[2021-09-16 05:25] cgorringe commented on #580
Port to Safari 14 is mostly finished and working, besides the splash window which will be done soon.
Requires XCode to compile from source and test for now.

**Steps to Install:**

- Open Safari
  - Develop > Allow Unsigned Extensions (enter your system password)
- Open project `safari/Wayback Machine.xcodeproj` in Xcode. Tap Play button.
- Close splash window (or eventually tap button once I get

[2021-09-19 09:33] Melonadev commented on #760
It just happened again!

[2021-09-20 01:16] #760 closed

[2021-09-20 02:25] cgorringe commented on #760
Sorry, there was a power outage which caused the servers to go down earlier today.

[2021-09-21 22:16] infojunkie opened #774 "Wikipedia popup text extends outside border"
**Describe the bug**
The text within the popup that's shown upon hovering over the green/black IA icon on Wikipedia, extends outside the boundaries of the popup.

**To Reproduce**
1. Enable the "Wikipedia Resources" option
2. Open https://en.wikipedia.org/wiki/World_War_II and scroll down to References
3. Hover over any green/black IA icon that's injected by the extension
4. Observe that the text

[2021-09-21 22:20] cgorringe commented on #756
Related to this issue:

There's a bug in Safari regarding manifest.js: Under "content_scripts" the "matches" field appears to be ignored by Safari and js and css files in this section are inserted in ALL websites instead of just Wikipedia. Seems to only occur when "Always Allow on Every Website..." button is selected in preferences (which is recommended) but this causes all sorts of problems on we

[2021-09-21 22:26] cgorringe opened #775 "Glitches in popup UI while hovering over buttons"
There's some glitching and slowdowns while hovering over popup buttons in Chrome, where before this only occurred in the Safari 14 port. While hovering over a button, instead of highlighting that button, a different button may highlight. Also occurs while hovering over Settings options.

I tried reducing the massive `style.css` file but that didn't appear to fix it. It may be some resource leak is

[2021-09-21 23:14] cgorringe commented on #774
Thanks. I noticed that too but forgot to report it!

[2021-09-22 07:03] cgorringe commented on #756
Bug specific to Safari above may have been fixed in Safari 15.0.

[2021-09-23 08:54] Melonadev opened #776 "Any alternative for archive.ph?"
Some websites are manually/automatically excluded from archive.org's Wayback Machine.
https://gizmodo.com/when-the-internet-archive-forgets-1830462131
https://archive.org/post/778/exclusions-from-the-wayback-machine

For example: www.reviewed.com is excluded from Wayback Machine but is archived at **archive.ph**, another archive-service website.

Is there already an existing extension/tool similar

[2021-09-23 21:03] anishsarangi opened #777 ""Show Resources During Save" option is not working properly if any URL is recently archived"
**Describe the bug**
 When the "Show Resources During Save" option is checked and if someone clicks "Save Page Now" button on a recently archive URL, a blank window appears with a spinner loading continuously

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any recently archived URL (Or go to any URL and archive it and then try).
2. Click on extension and in the general settings enable

[2021-09-24 16:34] infojunkie commented on #776
Generally speaking, URLs may be excluded from the Wayback Machine at the request of rights holders.

As for similar tools, you might want to start with something like https://github.com/dessant/web-archives which is read-only, and add to it the ability to submit to other archives.

[2021-09-24 16:34] #776 closed

[2021-09-24 19:33] anishsarangi opened #779 "Amazon books feature not working all the time"
**Describe the bug**
I noticed an issue with the amazon books feature. It is not working all the time.
In the background.js network tab, i could see that the api is not called. But when i reload the URL, it is working and calling the api.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on the amazon books feature in the extension.
2. Go to [testing guide URL](https://github.com/internet

[2021-09-25 00:33] #777 closed

[2021-09-27 20:47] #779 closed

[2021-09-28 09:02] weirdalsuperfan commented on #690
I'm not sure if the version I'm downloading from github isn't actually the latest version, but I've tried downloading it twice in the last few months, and both times I've installed it I constantly get logged out for no reason. At first I thought it happened when I changed IP addresses because of my VPN, but it actually seems to happen after even just a few hours no matter what I'm doing! I have no

[2021-09-28 17:33] cgorringe commented on #690
Thanks for the report @weirdalsuperfan. It would be useful to know what version of the extension you were using (can see on the browser's Extensions screen, or the extensions About page (small "i" icon along bottom)) Also please download the latest version from Github.

[2021-09-29 09:58] weirdalsuperfan commented on #690
@cgorringe The version of the extension I had been using (on Chrome) as installed from the latest code downloaded from github gives "2.999.7" as its version number. Is that right? I uninstalled that and installed the latest version (2.999.9) just now. Now bulk save seems to grey out when I import bookmarks or add URLs, and it says something like "-293 left out of 25". Otherwise if I don't add anyt

[2021-09-29 20:18] cgorringe commented on #690
Thanks @weirdalsuperfan for your input!
I just added a limit to Bulk Save to allow at max 25 URLs and your response suggests to me that I should reword that line, so thanks!

[2021-09-30 01:34] Melonadev commented on #690
As long as I'm logged in into archive.org, this extension doesn't forget. And the Bulk Save worked decently before the limit was introduced, sometimes even for hundreds of URLs. Why was the limit even introduced again?

[2021-09-30 04:36] cgorringe commented on #690
I'm glad to see that it isn't logging out for you @Melonadev! It doesn't log me out either, but sounds like it may for some people.

Since this is a work in progress we'll likely disable the Bulk Save feature when launching on the stores initially due to concerns including server load (since it takes up a lot) which is why we implemented a way to limit the number of URLs. Right now it works fine b

[2021-10-04 04:40] Melonadev opened #787 "'Pause' and 'Continue Bulk Save' causes at least 4 links to be skipped"
![image](https://user-images.githubusercontent.com/66422959/135795325-2128d6c2-0d19-4f35-aae9-0ea6ae15e570.png)

https://www.ozy.com/pg/topic/iceland is where I paused the Bulk Save, and then continued the Bulk Save. As shown in the image, Bulk Save skips forward 4 links instead of continuing in the right place.

[2021-10-05 19:27] anishsarangi opened #791 "Support all *.wikipedia.org sites for book parsing"
Currently the extension searches for the anchor tags with title attribute containing `Special:BooksSources` in the Wikipedia sites to add the tooltip in the UI. But the webpages which are in other languages e.g (https://fr.wikipedia.org/wiki/Rongorongo), it doesn't work.

Currently it only works for English Wikipedia, need to support other languages too.

[2021-10-06 03:04] cgorringe commented on #787
Thanks for testing and finding this.

[2021-10-07 16:17] infojunkie opened #795 "Simplify Search UI"
Search UI is confusing, overly complex and error-prone. The following fixes are suggested:

- Ensure the typeahead works reliably
- Remove "Last Saved" label
- Fix bug of "URL Not Supported"
- Ensure action feedback is instantaneous
- Remove detailed feedback page
- Add number of URLs processed to the animated button label
- Ensure that button cannot be clicked again while a request is being proce

[2021-10-08 11:24] anishsarangi opened #798 "Upgrade the extension to Chrome Manifest v3"
We are now using Manifest version 2. We need to upgrade it to use Manifest version 3 before the starting of 2023.

According to this article https://developer.chrome.com/docs/extensions/mv3/mv3-migration-checklist/, in manifest version 3, we can’t save/store anything in the background as it works like service worker and isn’t persistence. We need to use chromeStorage API everywhere for this. Some

[2021-10-08 19:47] cgorringe commented on #775
Just wondering if it's only me or if this happens to anyone else?

[2021-10-11 21:33] cgorringe commented on #756
fixed #794

[2021-10-11 21:33] #756 closed

[2021-10-11 21:34] cgorringe commented on #774
fixed #794

[2021-10-11 21:34] #774 closed

[2021-10-11 21:35] cgorringe commented on #755
fixed #759

[2021-10-11 21:36] cgorringe commented on #741
fixed

[2021-10-11 21:36] #741 closed

[2021-10-11 21:38] cgorringe commented on #731
Pause & Continue added

[2021-10-11 21:38] #731 closed

[2021-10-11 21:39] cgorringe commented on #740
did what we could. 'zoom' warning still in latest Bootstrap, oh well.

[2021-10-11 21:42] cgorringe commented on #690
extension shouldn't logout now for a year. Fixed in #792

[2021-10-11 21:42] #690 closed

[2021-10-11 21:44] cgorringe commented on #689
Planning to launch v3.0 in Firefox, Chrome, and Safari app stores soon!

[2021-10-11 21:49] #711 closed

[2021-10-13 07:01] #580 closed, assigned to cgorringe

[2021-10-14 20:18] infojunkie commented on #795
Verified. Thanks!

[2021-10-14 20:18] #795 closed

[2021-10-18 20:46] cgorringe opened #815 "'S' and Archiving remains after Save completes on Safari"
**Describe the bug**

On Safari, after Save Page Now finishes, the 'S' remains in toolbar icon and 'Archiving...' button remains animated after closing and returning to the popup.

 - Browser: Safai 15.0 on macOS Big Sur 11.6

[2021-10-18 20:48] anishsarangi opened #816 "UI bug during SPN"
Bug Report:
If you click on SPN button on any URL, and while it is in progress, if you type something in the input box, the “Archiving URL..” text stays even after the archiving is complete.
It is gone when you close and open the extension again.

[2021-10-18 20:48] anishsarangi opened #817 "Search Tweet feature is working on empty tab"
Bug Report:
Search Tweets feature is working on empty tab (in both chrome and firefox) which is an “URL not supported”.
It should not work on the empty tab.

[2021-10-18 20:49] cgorringe opened #818 "'No App Category' warning in Xcode compile for Safari"
**Describe the bug**

Warning in Xcode while compiling an archived build of Safari extension:
"No App Category is set for target"...

**To Reproduce**
Compile extension for Safari in Xcode.
 - Xcode 13.0

**Additional context**

More info here:
https://forum.juce.com/t/xcode-app-category/43852

[2021-10-19 15:19] #817 closed

[2021-10-19 22:32] cgorringe opened #821 "Delay updating toolbar icon when SPN completes"
**Describe the bug**

When doing Save Page Now with the 'Show Resources During Save' window open, archiving will complete in the window first, then there will be a delay before the toolbar icon turns into a checkmark and SPN button stops animating. This delay may be short, or may be long, depending, and noticed the delay was long on Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2021-10-19 22:55] cgorringe opened #822 "User remains Logged In on Safari"
**Describe the bug**
After tapping the logout button in the lower-right of the popup, then leaving and returning to the popup, I would appear to still be logged in as the logout button comes back and SPN button, and archiving still works. This only occurs under Safari and works correctly under Chrome & Firefox.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Log Out button
2. Leave

[2021-10-20 01:11] #816 closed

[2021-10-20 01:12] #815 closed, assigned to cgorringe

[2021-10-21 05:10] cgorringe commented on #822
This bug occurred as well before the login code change.

[2021-10-21 10:08] #818 closed, assigned to cgorringe

[2021-10-21 21:28] cgorringe commented on #822
Thought up a solution after a good nights rest. :-)

[2021-10-22 20:09] #822 closed, assigned to nobody

[2021-10-28 03:23] j-james opened #829 "Opening the previous page in a new tab often incorrectly triggers the Wayback Machine extension"
**Describe the bug**
The Wayback Machine extension often incorrectly detects previous pages opened in new tabs as not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a website, ex. https://sciurls.com/.
2. Click on any link on the page that opens in the same tab. (I clicked the "TechURLs" link.)
3. Middle-click the back button in the browser to open the previous page in a ne

[2021-11-22 21:02] cgorringe opened #831 "Books POST API may timeout on long list of ISBNs"
The context Books POST API may timeout on Wikipedia pages that have a large number of ISBNs. For example https://en.wikipedia.org/wiki/World_War_II may have 228 or 231 ISBNs.

When a timeout occurs, the API returns this error:
[code]

Either this may be solved on the backend, or an enhancement made to the frontend code to limit number of ISBNs sent to the API at a time. Let's say we send 100, then

[2021-11-25 08:06] #791 closed

[2021-12-02 23:03] #829 closed

[2021-12-06 17:31] dougp01 commented on #747
Getting a similar response from the Chrome and Brave browsers.

[2021-12-07 07:00] #673 closed

[2021-12-07 08:30] cgorringe commented on #831
Extending the timeout on the server endpoint fixes this issue for now.

[2021-12-08 00:14] cgorringe opened #836 "Upload Page Now Feature"
### The Problem

The idea for this feature stems from noticing that the Wayback Machine can't always save pages due to measures that websites take to block web crawlers, but which the user is able to view.

Take for example if one were to read [Bloomberg News](https://www.bloomberg.com/) and wanted to archive a page that they were reading. As you can see in the following screenshots, after running

[2021-12-08 21:30] cgorringe opened #837 "Remove Alexa Internet feature"
Alexa Internet will not longer be available as it is retiring May 1, 2022
https://support.alexa.com/hc/en-us/articles/4410503838999

[2021-12-09 04:42] cgorringe opened #838 ""This page has not been archived" alert not accurate"
**Describe the bug**

Sometimes "Oldest" "Newest" and the Overview Calendar, when selected, will pop up an alert saying that "This page has not been archived." after I just finished with Save Page Now.

**Expected behavior**
Would like it to skip the availability check and just go to the Wayback Machine website for each button.

**Additional context**
After SPN the notification provides a link to

[2021-12-11 19:30] cgorringe opened #841 "Convert Dead Bookmarks to Wayback Links"
**Is your feature request related to a problem/ issue? Please describe.**
I save a lot of bookmarks in my browser over time, which I later discover have gone missing.

**Describe the solution you'd like**
I'd like a feature that will scan through all of my Bookmarks, detect which ones are no longer live, then replace theseURLs with URLs from the Wayback Machine if the archive has a copy. Even bett

[2021-12-22 08:49] #838 closed

[2021-12-22 08:57] cgorringe commented on #709
Finally implemented this in PR #845 if anyone wants to test it out. I should probably add some more URL patterns to the Default List so I welcome any suggestions!

[2021-12-27 06:49] cgorringe commented on #798
[Manifest V2 support timeline]( https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/) says the Chrome web store will stop accepting _new_ V2 extensions on Jan 17, 2022. Since we already have this extension publicly listed, we should have until Jan 2023.

[2022-01-03 10:01] cgorringe opened #847 "Winter Cleaning Code Refactor"
Time for a Winter Code Cleaning?

Since the changes we'll need to make for Manifest v3 also share many of the changes required for a port to iOS Safari, I think this would be a good time to look at the overall structure of our code. We can also work on preparing for future language translation. Here's an outline. This should be done in multiple PRs. Please comment with your thoughts!

  - **Prepar

[2022-01-05 19:55] cgorringe opened #848 "Review Firefox Guidelines for submission"
We need to Review and implement any changes necessary for submitting to the Firefox app store:

- [Prompt users for data and privacy consents](https://extensionworkshop.com/documentation/develop/best-practices-for-collecting-user-data-consents/)
- [Add-on Policies](https://extensionworkshop.com/documentation/publish/add-on-policies/)

[2022-01-19 22:39] #709 closed

[2022-01-20 00:06] #837 closed

[2022-01-28 21:52] cgorringe opened #855 "Same error message when 2 tabs open"
**Describe the bug**

If you open two different URLs that return error status codes (i.e https://medium.com/@communismkills/here-are-the-companies-that-support-antifa-black-lives-matter-and-want-you-dead-1d79b1845f59 and https://thekindlyones.org/2010/10/13/refusing-to-look-through-galileos-telescope/) in two different tab, the same message appears in both in the toolbar popup. The links to the Wa

[2022-01-28 21:55] cgorringe opened #856 "Auto-save doesn't activate in Safari"
**Describe the bug**
Auto-save doesn't activate on a page that has not yet been archived, even though the setting is turned on. Works fine under Chrome and Firefox.

**Environment (please complete the following information):**
 - Webextension version: v2.999.37
 - Browser + version: Safari 15.3
 - OS + version: macOS 11.6.3

[2022-02-01 18:36] msrn commented on #689
So when is the release going to happen?

[2022-02-01 22:18] cgorringe commented on #709
Hi @contextnerror, although possible, I'd think it wouldn't be as necessary since you can always explicitly tap Save Page Now.

We used to have a Bulk Save feature where you could import your bookmarks. This could be an alternative as a bookmark list is like an "include list", although it would take some extra steps. The Bulk Save feature has been temporarily removed but we plan to bring it back i

[2022-02-04 22:47] #855 closed

[2022-02-09 06:14] cgorringe commented on #821
Delay was so slow on Safari at times, that it appeared to be stuck in an "archiving" state long after it finished. Bug now fixed.

[2022-02-09 07:39] cgorringe commented on #856
This bug also occurs on Chrome & Firefox. It's caused by the new Exclude List feature not being initialized. Once it is, Auto-Save works.

[2022-02-09 09:57] #821 closed

[2022-02-09 23:15] cgorringe commented on #775
I'm not getting the glitches anymore.

[2022-02-09 23:15] #775 closed

[2022-02-17 15:31] pbarney commented on #689
Guys? What the heck? How about just a word or two letting us know if this is going to happen or not?

[2022-02-17 20:25] cgorringe commented on #689
Good news is we're finally getting this submitted to Firefox this week, so it'll be available once it passes the review process.

[2022-02-18 22:57] cgorringe commented on #747
New version 3.0 just released on Firefox. We now turn off the html-embedded popup by default and you can turn it on in the settings.

[2022-02-18 22:57] #747 closed

[2022-02-19 09:13] grahamperrin opened #863 "Toolbar icon: the Wayback Machine Count should increase reasonably soon after a successful capture"
**Description**

A minor bug:

* after capture, the count does not increase automatically.

Workarounds, for a visible increase, include:

* click again on the icon; or
* click a different tab, then return to the tab where captured occurred.

**To reproduce**

1. Observe a count
2. click the icon
3. Save Page Now
4. await completion of the save

**Expected**

5. an increased count.

**Screen recor

[2022-02-19 14:16] cstanhope opened #864 "Disable requirement to log to archive.org account prior to enabling "Save Page Now""
It appears that with the 3.0 version of the Wayback Machine extension that you must now log in to your archive.org account before the "Save Page Now" button will be enabled. This wasn't the case in prior versions. I don't know the full reasoning behind this change other than I note there are at least a couple of new options (off by default) that would probably require a person to be logged in. One

[2022-02-20 06:09] cgorringe commented on #863
Thanks for reporting this bug!

I checked it out and found where we missed this. Just 1 line of code will fix it.
(although may be some time before it's updated on the store...)

[2022-02-22 04:06] cgorringe commented on #864
Thanks and we appreciate your feedback! I can see why you may not want to have to log in to use Save Page Now. Unfortunately it's not something that I can change back (at least right now) but I _might_ be able to keep it logged in while clearing the browser's cookies so that you wouldn't have to repeatedly log in. I like to clear my browser cookies too. Seems like a common situation. Thanks for po

[2022-02-22 14:59] cstanhope commented on #864
Great! Thanks! And this may not be the place for this comment, but since I'm here, I'd like to say I really like and appreciate the other recent changes to the extension.

[2022-02-24 08:55] splch opened #866 "Only offer Wayback Machine if archive.org is reachable"
**Is your feature request related to a problem/ issue? Please describe.**
If I don't have an internet connection, the Wayback Machine will still popup, making it tedious to re-navigate to the goal URL.

**Describe the solution you'd like**
Only offer to show a Wayback archive of a page **if** the archive site is available. If it isn't then the popup wouldn't help.

**Describe alternatives you've c

[2022-02-24 09:56] cgorringe commented on #866
@splch Could you please provide what web browser you are using, what operating system, and what version of the Wayback Machine extension?

[2022-02-24 20:37] splch commented on #866
Absolutely!

| Software | Version |
|----------|---------|
| Chrome   | 98      |
| Wayback  | 1.41.4  |

[2022-02-24 20:52] splch commented on #866
I think either the onComplete method will activate on timeout,

https://github.com/internetarchive/wayback-machine-webextension/blob/d8343da36df03151c0241a7863ffaffbd9a66d94/webextension/scripts/background.js#L428

or the banner condition should include some reachable check

https://github.com/internetarchive/wayback-machine-webextension/blob/d8343da36df03151c0241a7863ffaffbd9a66d94/webextension/s

[2022-02-24 21:10] infojunkie opened #867 "Feature: Context Notices"
Add a notification dot when a Context Notice is found for the current page. What's a Context Notice? See this [blog post](https://blog.archive.org/2020/10/30/fact-checks-and-context-for-wayback-machine-pages/) for background, and [this example](https://web.archive.org/web/20220127123423/https://twitter.com/JesseKellyDC/status/1463280652418228229).

Description of the feature flow:
- User visits a

[2022-02-24 21:21] cgorringe commented on #866
@splch  - I thought it may be the old one on the store. We've got v3.0 for Chrome in review which will be released real soon that should solve this issue. In the meantime v3.0 has been released already on Firefox and Safari if you'd like to check it out, or you can install the version on Github on Chrome - just follow the directions in the README.

[2022-02-24 22:08] splch commented on #866
@cgorringe Ah I'll try the upgraded version out! Thanks so much for your work on this :) Big fan

[2022-02-25 22:15] #866 closed

[2022-02-26 07:58] krisszt opened #872 "Log in request"
**Is your feature request related to a problem/ issue? Please describe.**
When the prompt suddenly came up to log in today through a notification I was very confused on why, and even where I would log in.

**Describe the solution you'd like**
Is it possible to make it so that a click on the notification takes the user to the archive's [log in page](https://archive.org/account/login)?

**Additional

[2022-02-27 05:58] MurphysLab commented on #864
Would it be possible to make the previous version of the browser extension available separately?

Some do appreciate the privacy aspect of not having our archiving activity tracked. I hope that this gets changed so that login isn't required.

Also, can anyone here explain why this design **choice** was made?

[2022-02-28 09:06] rsaarelm commented on #864
Also hit by this, I'm not interested in making an account and the extension is halfway useless to me now. This feels like a dark pattern feature with no technical justification, since you can still anonymously save pages on the Wayback Machine website end with a curl oneliner just as before.

[2022-02-28 20:04] infojunkie commented on #867
In case of multiple notices + multiple timestamps, pick the most recent timestamp.

[2022-03-01 08:10] cgorringe commented on #872
If you click on the archive toolbar button for the popup, then move the mouse pointer over the "Save Page Now" button while logged out, it will flip over to show "Log In to Save Page", which you can then log in right inside the extension. But we can also see about adding a link to the archive's log in page to the notification. Thanks for the suggestion!

[2022-03-01 08:19] cgorringe commented on #847
- Add to Refactoring:
  - Consolidate & Refactor Timeout values, and insure that all API calls include timeouts. (currently missing on amazonbooks, tagcloud, and available APIs)
  - Remove duplicate call to amazonbooks in popup.js as already called in background.js (may move elsewhere)

[2022-03-01 08:56] cgorringe opened #873 "Some observations on TV News Clips"
**Describe the bug**

1. While trying out TV News Clips, it seems like some of the screenshots don't really match the videos they link to, although sometimes they do, but other times it seems like they match one of the other videos.

2. The link URL that the browser shows is the same for every video, even though it properly goes to different video links after clicked, it would be nice to see the a

[2022-03-01 09:03] cgorringe commented on #873
Anish noticed that the blue dot and the button is appearing after the url is completely loaded. (maybe we can speed this up?)

[2022-03-01 09:08] cgorringe opened #874 "Checking buttons work in some cases"
**Describe the bug**

From Mark:
- If I select “Word Cloud”, then select “Site Map” my request is not honored (and the button does not change color).  If I select “My Archive” and THEN “Site Map” my request IS honored.

**Environment**
 - Webextension version: 3.0
 - Browser + version: Safari
 - OS + version: macOS

[2022-03-01 09:25] cgorringe opened #875 "URL not supported on pdf link"
**Describe the bug**

Brewster reported: (using Firefox)
The new extension would not save-page-now in the extension this page: https://archive.computerhistory.org/resources/access/text/2022/02/102792172-05-01-acc.pdf

The popup says "URL not supported"

When I tested this:
- Chrome: downloaded PDF
- Safari: displayed PDF inline, did _not_ see above message, was able to use SPN.
- Firefox: first do

[2022-03-01 09:30] cgorringe opened #876 "My Web Archive pages don't always show up"
**Describe the bug**

Report:
"I manually saved a page with the My Web Archive button ticked and I can see it there, but the pages saved via the extension haven’t showed up there yet, despite the fact it shows it has detected an account and the option is enabled."

**Additional context**

Likely a bug on the website / backend and not in the extension. Needs further testing.

[2022-03-01 09:40] cgorringe opened #877 "Incorrect Server Not Found with TV News Clips in Safari"
**Describe the bug**
A "Server Not Found" error displays while the website displays correctly, and the "TV News Clips" button displays.

**To Reproduce**
- Use Safari.
- Turn on "Replace 404s..." and "TV News Clips" in Settings.
- Go here: https://www.huffpost.com/entry/kremlin-harsh-eteri-tutberidze-kamila-valieva-doping_n_621070d4e4b0f93b2618b9e8

**Expected behavior**

- Should not display "Ser

[2022-03-01 09:51] cgorringe opened #878 "Embed 404 popup doesn't always display in Firefox"
**Describe the bug**

When on an error page such as a 404, the red dot and popup error will display, but the embedded html popup doesn't always display, but will display after website is reloaded.

**To Reproduce**

- Use Firefox.
- Turn on "Replace 404s..." and "Errors Pop-Up in Page" in Settings.
- Go here: https://www.whitehouse.gov/energy/climate-change

**Expected behavior**

- Html popup sho

[2022-03-01 18:44] bruceschaff opened #879 "Emails For Auto Save"
I am loving all the new features, particularly email, and auto save are features that I've wanted for a while. It would be great if you can get an email when a page auto saves, and even better if somehow the email differentiates between save now and auto saved.

[2022-03-01 20:22] infojunkie opened #880 "Show the development icon differently than the release one"
When working on this extension, we sometimes need to keep both the development version AND the latest release present in the toolbar for comparison and bug tracking. It would be great to be able to quickly differentiate between them, e.g. by coloring the dev version icon differently.

[2022-03-03 23:10] #877 closed

[2022-03-03 23:12] cgorringe commented on #873
All but (1) fixed.

[2022-03-03 23:32] infojunkie commented on #880
Thanks, that would work

[2022-03-04 04:02] #874 closed

[2022-03-04 22:26] infojunkie commented on #867
Added option setting for the feature in the description.

[2022-03-05 20:51] mitar opened #888 "Why is it required to be logged in to archive a page?"
Previous version of the extension on Firefox did not require that. Doing archive through website itself also does not require that. Why is this required for the new version of the extension? I understand that it is required to access additional features, but for basic archiving it should work without being logged in also through the extension.

[2022-03-10 09:19] LeLocTai opened #890 "All settings are being reset randomly"
Extension settings are being reset to default randomly. My guess is this is the cause:

https://github.com/internetarchive/wayback-machine-webextension/blob/c7dddac4cf72758e75b30d80e980c91567159a03/webextension/scripts/background.js#L387-L388

According to https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/onInstalled, the event is

So settings will be reset after e

[2022-03-10 20:57] cgorringe commented on #890
@LeLocTai Thanks for investigating this! I think we missed this in testing because the settings often get reset when using "Debug Add-ons" in Firefox to load the extension. It's very likely the settings were reset after the browser updated. We'll apply the fix you suggested. (or you can even submit a PR if you want!)

[2022-03-11 00:37] #878 closed

[2022-03-11 02:06] #867 closed

[2022-03-11 19:27] infojunkie commented on #880
When the red dot is shown, the icon is white instead of cyan.

[2022-03-11 19:59] cgorringe commented on #880
Yes, it's only the main icon, not any that have dots.

[2022-03-11 20:03] infojunkie commented on #880
Thanks for confirming - but I think this adds to the confusion, not reduces it.

[2022-03-11 20:07] cgorringe commented on #880
It's not like I set out to do it. I have to add more icons to fix it. But I'll see, it may be a quick enough fix.

[2022-03-12 00:45] cgorringe opened #893 "Missing 404 button on site that has contextual notices"
**Describe the bug**
When going to a 404 site which also has a Context Notice, a red dot appears over the toolbar icon, but the popup is missing the 404 error and button.

**To Reproduce**
1. Turn on "Replace 404s..." and "Contextual Notices" in settings.
2. Go to: https://ria.ru/20220226/rossiya-1775162336.html
3. Wait for Context Notice, then click on toolbar icon.

**Expected behavior**
Expect

[2022-03-12 04:35] LeLocTai commented on #890
I'm tied up this weekend. If someone could take a look, that would be great. Otherwise, I can try to send a PR next weekend.

[2022-03-12 08:39] cgorringe commented on #890
@LeLocTai That's not a problem. I'll fix it. Thanks.

[2022-03-12 19:28] RomainTHD opened #895 "Privacy concerns regarding auto-save and query strings"
The current extension implementation treats differently websites with query strings.
For example, the pages `www.example.com` and `www.example.com?foo` are not recognized as the same page.
This raise some real privacy concerns with the "Auto Save Page" mode enabled.

For example, a website using token authentication in a query string would be uploaded to the server.
The server would then fetch `ww

[2022-03-13 08:47] #880 closed

[2022-03-13 19:12] infojunkie commented on #880
Thanks, looking good now!

[2022-03-14 05:22] el4ctr0n opened #896 "Opening the archived copy of a URL without creating a new tab"
Dear Wayback Machine Chrome extension developers, can you please make it possible to configure in the settings that when I press "Oldest", the oldest archive of the URL would open in the same tab?

This feature would be enormously helpful for the situations when you need archived copies of multiple currently open URLs.

Thank you for considering my request.
I look forward to your reply.

[2022-03-14 21:32] #893 closed

[2022-03-15 00:56] infojunkie opened #897 "Checking for notices despite unreachable domains and other network errors"
A user reported that for https://ria.ru/20220226/rossiya-1775162336.html, they got an error that the site could not be reached `DNS_PROBE_FINISHED_NXDOMAIN`. As a result, the extension reported "Server Not Found" and did not attempt to check for notices. On the other hand, the 404 handler worked fine.

![domain](https://user-images.githubusercontent.com/92977/158285075-c3720039-f508-40ac-9fc4-8f9f

[2022-03-16 01:19] weirdalsuperfan commented on #690
@cgorringe  Was the Bulk Save feature disabled? Any way to get it back?

[2022-03-16 05:38] cgorringe commented on #690
@weirdalsuperfan Yes, unfortunately we had to disable it as it would take up too many resources on our servers if too many used it at the same time. I don't know if or when it'd be restored.

[2022-03-16 16:40] anishsarangi opened #901 "Save Page Now is opening 6 tabs instead of 1 when logged out"
**Describe the bug**
If a user is not logged in and when it try to save a url through the input box in the extension ui, it is opening 6 tabs simultaneously.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to any URL
2. Click on the extension and make sure that you are logged out
3. Type any url in the extension and click "Save Page Now"
4. You will see 6 tabs opening simultaneously

**Exp

[2022-03-16 18:18] LordFlashmeow opened #902 "Option to disable notifications and pop up window when saving a page"
I find the notifications for "saving page now" and "successfully saved" annoying to deal with and dismiss, and there's no way to turn them off.

Similarly, I don't have an interest in seeing what resources are being saved, and closing the pop-up window on every save is a nuisance.

I think it would be great to have a setting to disable notifications and the details window when saving a page.

(I r

[2022-03-16 21:04] cgorringe commented on #902
On your 2nd point, the details window should only display when the "Show Resources During Save" setting is turned on, and it's set off initially unless you turn it on. But good point on the 1st. We could add a Setting to turn off all notifications.

[2022-03-16 21:06] LordFlashmeow commented on #902
Derp. Don't know how I missed that.

[2022-03-16 21:13] cgorringe commented on #896
Thanks for the suggestion!

We can consider changing the setting for "Show Features In"
( ) Tab ( ) Window ( ) Replace [or something like that...]

[2022-03-16 21:26] cgorringe commented on #895
That's a good point. Will give this some thought.

In the meantime, you could try adding specific websites to your "Exclude URLs" list. Not sure how well this would work in your case, but something like: `www.example.com\*?*` might work. Although that would prevent saving any URL from saving which had a `?` in it and wouldn't just strip anything after the `?`. So can see if we can come up with a b

[2022-03-16 23:18] infojunkie commented on #901
I only get 1 tab. Maybe there are more steps to reproduce the bug?

[2022-03-16 23:24] anishsarangi commented on #901
@infojunkie Make sure you are logged out and you have typed the url in the input box in the extension

[2022-03-16 23:32] infojunkie commented on #901
Thanks! Got it now.

[2022-03-17 08:14] cgorringe opened #905 "Save Without Login fails in Safari"
**Describe the bug**

When trying Save Page Now in Safari, while logged-out, the spn-redirect.html and .js code does redirect to the correct website, but the URL doesn't get passed in to fill in the form text box. Works fine in Chrome & Firefox.

**To Reproduce**

1. Go to any URL while using Safari.
2. Make sure you're logged out.
3. Click on red Save Page Now.
4. See redirection to https://web.a

[2022-03-17 08:17] cgorringe commented on #905
trying to fix in [safari-spn-redirect-fix](https://github.com/internetarchive/wayback-machine-webextension/tree/safari-spn-redirect-fix) branch.

[2022-03-17 08:20] #890 closed

[2022-03-21 03:22] cgorringe opened #907 "'Red' 404 dot shows incorrectly after tab switch in Safari"
**Describe the bug**

The 'red' (blue-tinted) dot with 404 or similar error is displaying incorrectly after tapping the back button and switching to a tab and back. Only seems to occur in Safari.

**To Reproduce**

1. Use Safari.
2. Turn on 'Replace 404s' in Settings.
3. Go to any normal website.
4. Go to a 404 page in the same tab.
5. Hit back button. Dot should clear.
6. Go to another tab (eithe

[2022-03-21 03:30] cgorringe opened #908 "Right-click menu still active while agreement not accepted"
**Describe the bug**

While the functions in the popup can't be reached until the user accepts the privacy policy agreement, the right-click context menu can still be used. It should be unavailable until agreement accepted.

**To Reproduce**

1. Uninstall then reinstall the extension to reset the welcome agreement.
2. Right-click on a website or link and use any of the features on the menu.

**Exp

[2022-03-21 03:36] cgorringe opened #909 "Search Box is calling APIs on every key press"
**Describe the bug**

Typing in the Search box will call the sparkline API multiple times while typing a URL, once for every key pressed while typing.

**Expected behavior**

Using the Search box should wait until the user is finished typing before calling the sparkline API.

**Environment**
 - Webextension version: 3.0.0.13
 - Browser + version: Any
 - OS + version: Any

[2022-03-21 03:41] cgorringe opened #910 "Search Box dropdown should dismiss"
**Describe the bug**

Search Box dropdown should dismiss when clicking outside but still within popup.

**Environment**
 - Webextension version: 3.0.0.13
 - Browser + version: Any
 - OS + version: Any

[2022-03-21 04:13] cgorringe opened #911 "Keep user logged in after clearing browser cookies"
Some folks like to clear their browser's cookies frequently. Unfortunately this will also log them out. (v3.0.0.13) We'd prefer, if it were possible, to keep the user logged in after clearing their cookies so that they wouldn't have to repeatedly log in.

See #864

[2022-03-21 04:22] cgorringe opened #912 "Disable popup buttons when 'URL not supported'"
We may want to dim or disable the buttons in the popup when "URL not supported" text is displayed, since currently (v.3.0.0.13) when user clicks on a button, none of the buttons do anything, including the social share buttons. Except the SPN button currently flips to "URL not supported" when hovered over, which is fine.

[2022-03-21 04:25] cgorringe opened #913 "Make popup buttons accessible using tab key"
Currently (v3.0.0.13) some buttons on the popup can't be reached using the tab key, including 'Save Page Now', which might require removing the hover flip. (but hope we can keep the flip.) It would be great if all the buttons and checkboxes can be reached using tab.

[2022-03-21 04:35] cgorringe opened #914 "Safari missing 'URL not supported' in popup on empty page"
**Describe the bug**

While using Safari, open an empty tab or page, notice the popup missing "URL not supported" error text, and SPN button doesn't flip when hovered over. Clicking on the other buttons don't activate, which is correct.

**Environment**
 - Webextension version: v3.0.0.13
 - Browser + version: Safari 15.4
 - OS + version: macOS 11.6.3

[2022-03-21 04:44] cgorringe commented on #888
We are working on getting this to work.

[2022-03-23 07:36] #905 closed

[2022-03-24 21:35] #908 closed

[2022-03-24 23:17] #914 closed

[2022-03-29 04:17] #901 closed

[2022-03-29 04:18] #909 closed

[2022-03-29 04:19] #910 closed

[2022-03-29 08:03] cgorringe opened #921 "'Save failed' using SPN while logged in"
**Describe the bug**

We're receiving multiple reports of login failures from the Chrome app store:

**Environment:**
 - Webextension version: v3.0
 - Browser + version: Chrome
 - OS + version: Unknown